## Introduction

#### What is Python?

- popular programming language
- created by Guido van Rossum
- released in 1991

(He named it after the BBC comedy troupe Monty Python, of whom he is a huge fan)

#### Where is python used?

- Netflix’s recommendation algorithm
- software that controls self-driving cars

general-purpose language
 - data science
 - software and web development
 - automation
 - calculator

#### appllications of python

1. Web Development
    - frameworks: Django, Flask, Pyramid
    - Achieve Security, scalability, convenience
2. Game Development (interactive games)
    - Civilization-IV, Disney’s Toontown Online, Vega Strike
    - PySoy, a 3d game engine, PyGame library
3. Machine Learning and Artificial Intelligence
    - libraries: Pandas, Scikit-Learn, NumPy, Seaborn, MatplotLib
4. Data Science and Data Visualization
    - Data is money if you know how to extract relevant information which can help you take calculated risks and increase profits.
    - You study the data you have, perform operations and extract the information required.
    - Libraries such as Pandas, NumPy help you in extracting information
5. Desktop GUI
    - library Tinker for UI
6. Web Scraping Applications
    - website data for price comparision (https://www.91mobiles.com/), job listings, research and dev
    - Lib BeautifulSoup
7. Business Applications
    - different from normal applications. e-commerce,ERP (enterprise resouce planning), healthcare
    - Tryton platform
8. Audio and Video Applications
    - TimPlayer, CPlay applications are dev using python.
    - better stability and perf in comparision with other media players
9. CAD Applications
    - mech engineering. Computer aided designing.
10. Embedded Applications
    - Py is based on C so used to create Embedded C software

#### why python?
-  Software quality,
-  developer productivity,
-  program portability,
-  support libraries,
-  component integration,
-  simple enjoyment

#### features: why only python?

1. Free and open source
2. Easy to code and easy to read
3. OOP
4. Easy to debug
5. High level language (No need to manage memory)
6. Portable or Platform independent
7. Interpreted language (exec line by line.
 no compilation phase (hidden from user to avoid complexity)
 .pyc file contains compiled byte code
Interpreter reads instructions line by line and generates output till the point the code is correct, the ease of debugging increases as it is easier to get information about the source point of error.)
8. Large standard library
9. Dynamically typed language (Dynamic mem alloc)
10. Automatic memory management

#### python versions

Find current version:

>python --version

>Python 3.10.8 (Oct. 11, 2022.)

Python 3.x Version Release Date
- 3.10 2021-10-04
- 3.9 2020-10-05
- 3.8 2019-10-14
- 3.7 2018-06-27
- 3.6 2016-12-23
- 3.5 2015-09-13
- 3.4 2014-03-17
- 3.3 2012-09-29
- 3.2 2011-02-20
- 3.1 2009-06-26
- 3.0 2008-12-03

Python 2.x Version Release Date (Deprecated)
- 2.7 2010-07-03
- 2.6 2008-10-02
- 2.5 2006-09-19
- 2.4 2004-11-30
- 2.3 2003-07-29
- 2.2 2001-12-21
- 2.1 2001-04-15
- 2.0 2000-10-16

#### output

In [1]:
print("Hello, World!") # Run: ctrl+Enter or shft+Enter

Hello, World!

- shortcuts: a b x c v m y

Raw Sample code:

print("Hello, World!")
print("Hello, World!")
print("Hello, World!")

if statement:

if 2<3:
    print("2<3")

#### python shell
```
C:\Users\Vishnupriya>python
Python 3.10.8 (tags/v3.10.8:aaaf517, Oct 11 2022, 16:50:30) [MSC v.1933 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

>>> print('hello')
hello
>>> quit()
```

#### interpreted and compiled language

- Compilation phase is hidden.
- Python execution:
  1. python script.py file is compiled using the command: (python -m py_compile script.py)
  2. script.cpython-310.pyc file is generated (bytecode => platform independent representation)
  3. script.cpython-310.pyc is saved in \__pycache__ sub directory (depends on source changes and python versions)
  4. bytecode of interactive mode code is never saved
  5. bytecode is run by PVM - run time engine of python (python sample.cpython-310.pyc)
  6. PVM execution is last step (even in interpreter mode)

#### python implementation alternatives

- CPython (standard implementation - CPython Virtual Machine)
- Jython (Written in Java, and uses JVM to run programs)
- IronPython (Written in C#, and runs programs on .NET platform)
- PyPy (written in python and has Just-in-time (JIT) compilation making execution faster)
- Cython (Compile python programs in C and also transform into C. mainly for writing C extensions)
- Stackless (to simplify thread-based programming. Cstack is not used. its own stack is cleared between function calls)

#### companies that use python:

- Google
- Youtube
- Pinterest
- Instagram
- Facebook
- Netflix
- Spotify
- NASA
- JP Morgan Chase
- Intel
- IBM

## Indentation

- space before the line of code starts (2 or 4)
- to identify the block of code

In [2]:
if 5 > 2: # 0 spaces
    print("Five is greater than two!") # 4 spaces

Five is greater than two!

In [3]:
# if 5 > 2:
# print("Five is greater than two!") # IndentationError: expected an indented block

In [4]:
# if 5 > 2:
#  print("Five is greater than two!")
#         print("Five is greater than two!") # IndentationError: unexpected indent

In [5]:
# print('hello')
#     print('hello') # IndentationError: unexpected indent

In [6]:
def one():
  print('in one')
  print('also in one')
print('outside one')
one()

outside one
in one
also in one

In [7]:
# Nested blocks indentation
def one():
  print('in one')
  if 5>2:
        print("5>2")
        print("inside if")
  print('also in one')
print('outside one')
one()

outside one
in one
5>2
inside if
also in one

## Comments

- Not compiled
- For better readability of program
- full line comment
- comment at the end of the line

In [8]:
# single line comment

# multi
# line comment

'''multi line
comment'''

"""multi line
comment"""

"""Documentation comment
if this triple single or double quote multi line comment is written as
the first line in a function or class"""

# use function_name.__doc__ paramter to read this comment

# print('hello') # inerting code while testing
print('Only this line is compiled')

Only this line is compiled

In [9]:
def welcome():
    '''this function prints welcome'''
    print('welcome!!!')

welcome()
print(welcome.__doc__) # prints documentation comment inside welcome function

welcome!!!
this function prints welcome

In [10]:
def welcome():
    # this function prints welcome
    print('welcome!!!')

welcome()
print(welcome.__doc__)
# given comment is not documentation comment. It is just a single line comment given for readability purpose.

welcome!!!
None

## Variables

#### creating variables
- variable is created the moment you first assign a value to it
- no datatype declaration
- later can reassign a new value according to the scenario
- case sensitive

In [11]:
number = 5 # numbers without quotations
name = "Allen" # str with quotations '' or "" or '''''' or """"""
name = "Tony"
Name = 'Joe'
print(number, name, Name)

5 Tony Joe

In [12]:
x = y = z = 10 # one Value to multiple variables
x, y = 1,2 # different values to multiple variables
x, y, z = [1,2,3] # unpacking a collection
x, *y, z = [1,2,3,4,5]

In [13]:
# print(age) # NameError: name 'age' is not defined

#### variable naming rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- **recomended: donot starting variable names with underscore(s)**

In [14]:
# Valid variables
myvar = "John"
my_var = "John"
_my_var = "John" # not recomended but valid
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
# invalid variables

# 2myvar = "John" # SyntaxError: invalid syntax
# my-var = "John"
# my var = "John"

#### descriptive variable names

In [16]:
myVariableName = "John" #camelCase
MyVariableName = "John" # PascalCase
my_variable_name = "John" # snake_case

#### output variables

In [17]:
# o/p single str variable with escape sequence characters
x = "hello\thi.\b\nhelloscience\rdata "
print(x)

hello	hi.
data

In [18]:
# o/p multiple variables using , (space is included between variables by default)
x = "Python"
y = "is"
z = "awesome"
a = 1
print(a, x, y, z) # diff types can also be printed using ,

1 Python is awesome

#### _ variable

In [19]:
a = 3
a

3

In [20]:
_

3

In [21]:
a = 'hello'
a

'hello'

In [22]:
_

'hello'

In [23]:
# _ = [1,2,3]
# _

In [24]:
a = 'hello'
a

'hello'

In [25]:
_

'hello'

#### structuring python program

In [26]:
# multiple statements in single line
a=1; b=2; print(a); print(b)

1
2

In [27]:
# implicit line continuation
age = 20
citizen = "indian"
if (age >= 18
    and
    citizen == "indian"):
    print('person is eligible to vote')

person is eligible to vote

In [28]:
# explicit line continuation
# using \ at the end of the line
a = \
    10 + 20 + \
    15 + 5 \
    + 5

print(a)

55

## Datatypes

### Built-in Data types:
- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types: bytes(immutable), bytearray(mutable), memoryview(works using ref, not data directly, needs bytes like object)
    - (binary data: 0 to 255: images)
- None Type:	NoneType

In [29]:
print(type(5),
      type("5"),
      type([1,2,3])) # get type

<class 'int'> <class 'str'> <class 'list'>

- str: 'a', 'A', '1', 'abc', "abc", "3.0", '''$4''', str(1)
- int: 1, 4213243214343214353, -324, int(1.5)
- float: 1.10,r1.0, -35.4, 10e2, 10E2, -2e2, 10e-2, float(3)
- complex: 1+2j, 5j, -5j, 1+0j, 1j (not only j), complex(5) => 5+0j
- bool: True, False
  - False: False, None, 0, "", [], (), {}
  - True: bool(10), bool("hello"), bool([1,2])
- list: [1], [1,2,3], [1,[2,2,2],3, 'a'], list((1,2))
- tuple: (1,), (1,2,3), (1,(2,2,2.5),3,[4,5], 'a'), tuple((1,2))
- dict: {"name" : "tony", "age" : 25}, dict(name='tony', age=25)
- set: {1,2,3,1,'a'}, set((1,2,3,1))
- frozenset: frozenset((1,2,3))
- bytes: b'hello'
- bytearray: bytearray(5)
- memoryview: memoryview(bytes(5))
- NoneType: None
- range: range(5), range(0,5)

In [30]:
l = list(('1',1))
print(l, type(l))

['1', 1] <class 'list'>

### type casting

In [31]:
print(int('1'), int(2.8), float(1), complex(1))
print(str('1'), str('a'), str(3.0))
print(list("1"), list(('1',)), list((1,)))
print(set([1,2,1,2]))
# print(int('a')) # ValueError: invalid literal for int() with base 10: 'a'
# print(list(1)) # TypeError: 'int' object is not iterable
# print(int(3+5j)) # TypeError: can't convert complex to int

1 2 1.0 (1+0j)
1 a 3.0
['1'] ['1'] [1]
{1, 2}

In [32]:
import random
a = random.randrange(1,10) # discrete value
b = random.uniform(1,10) # continuous value
c = random.normalvariate(50,1) # normal distribution with mean and standard deviation
print(a,b,c)

2 8.364456438327164 50.07586012356349

In [33]:
# booleans - majorly used in if conditions
print(2>3) # output of comparision operators
print(bool('hello'), bool(0)) # True and False values
if "hello":
    print("hello is True value")
if "":
    print("if")
else:
    print("else")
print(isinstance(5, int), isinstance([1,2,3], tuple))

False
True False
hello is True value
else
True False

## User input and output

In [34]:
username = input("Enter username: ") # tony
print(username, type(username))

usernumber = input("Enter number: ") # 25 -> by default str type
print(usernumber, type(usernumber))

userinput = input("") # 25
print(userinput, type(userinput))

number = int(input("enter a number:")) # 27
print(number, type(number))

Enter username: tony
tony <class 'str'>
Enter number: 25
25 <class 'str'>
25
25 <class 'str'>
enter a number:27
27 <class 'int'>

In [35]:
# splits by each character
a,b = input() # 25
print(a, b, type(a), type(b))

25
2 5 <class 'str'> <class 'str'>

In [36]:
# splits by space
a,b = input().split(' ') # 25 24
print(a, b, type(a), type(b))

25 24
25 24 <class 'str'> <class 'str'>

In [37]:
print(1,2,3, sep = "-", end = "*")
print(1,2,3, sep = "-", end = "*")
print(1,2,3, sep = " ", end = "\n") # default
print('hello','world')
print('end')
print(print('Hello'))

1-2-3*1-2-3*1 2 3
hello world
end
Hello
None

In [38]:
import sys
print(sys.stdout.write("Hello "))
# sys.stdout.write(1) # TypeError: write() argument must be str, not <class 'int'>
# sys.stdout.write([1,2,3]) # TypeError: write() argument must be str, not <class 'list'>

Hello None

In [39]:
# format_str % values
print("%d %s cost $%.2f" % (8, "pens", 1.5))
print("%s" % "hello")

#  %[flags][minwidth][.precision]type
print("% d, %i, %u" % (42, 42, 42))
print("% d, %i, %u" % (-42, -42, -42))

# flag # forces to have a decimal point always
print("%.0f %#.0f %.0e %#.0e" % (123, 123, 123, 123))

# flag 0 causes padding with 0 to the left, if needed
print("%08.2f" % 16)

# flag - causes the value to be left-justified
print("%-8.2f" % 123.3)

# flag + adds + to the left of numeric output
print("%+5d" % 3)

data = {"quantity": 8, "item": "pens", "price": 1.5}
template = "%(quantity)03d %(item)-8s cost $%(price).2f"
print(template % data)

8 pens cost $1.50
hello
 42, 42, 42
-42, -42, -42
123 123. 1e+02 1.e+02
00016.00
123.30
   +3
008 pens     cost $1.50

In [40]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Operators

In [41]:
1 + 3 # + is operator, 1 and 3 are operands

4

#### arithmetic operators

In [42]:
print(1+1,
      1-1,
      1*4,
      16/3, False/True, int(True)/-5.0,
      16//3, 17//3.0,
      13%7,
      2**3, sep = '\t')

2	0	4	5.333333333333333	0.0	-0.2	5	5.0	6	8

#### assignment operators

In [43]:
a = 5; print(a) # 5
a += 3; print(a) # 8
a -= 2; print(a) # 6
a *= 2; print(a) # 12
a /= 2; print(a) # 6.0
a = 7
a %= 2; print(a) # 1
a = 7
a //= 2; print(a) # 3
a **= 2; print(a) # 9
a = 7
a &= 2; print(a) # 2
a = 7
a |= 2; print(a) # 7
a = 7
a ^= 2; print(a) # 5
a = 7
a <<= 1; print(a) # 14
a = 7
a >>= 1; print(a) # 3

5
8
6
12
6.0
1
3
9
2
7
5
14
3

#### comparision operators

In [44]:
print(5==3, 5!=3, 5>10, True>=False, False<1, 5.6<=6.5)
print(1<5<10, 10>5<20, 10<10<10*2<100, 5==5>4)
print((10+5) > (10-6))

False True False True True True
True True False True
True

#### logical operators

In [45]:
print(not(5<6))
print(True and True, True and False, False and True, False and False)
print(True or True, True or False, False or True, False or False)
print(5>6 and print('hello'))
# print(5<6 and print('python'))
print(5<6 or print('hello'))
# print(5>6 or print('datascience'))

False
True False False False
True True True False
False
True

#### identity operators

In [46]:
# check for same object with same reference
a = ["python",'datascience']
b = ["python",'datascience']
c = a
# print(a==b, b==c, c==a)
# print(a!=b, b!=c, c!=a)
print(a is b, b is c, c is a)
print(a is not b, b is not c, c is not a)

False False True
True True False

#### membership operators

In [47]:
a = ["python",'datascience']
print('python' in a, 'py' in a, 'PYTHON' not in a)

True False True

In [48]:
# bitwise operators
print(6&3, 6|3, 6^3, ~3, 3<<2, 6>>1)
# 6 =  0000000000000110
# 3 =  0000000000000011
# -4 = 1111111111111100
#  4 = 0000000000000100

2 7 5 -4 12 3

#### precedence of operators
![image.png](attachment:image.png)

In [49]:
print(40 or 5 + 10 or 8) # 40 or 15 or 8
print(not 14 == 4 + 10) # not 14 == 14 # not True
print(6 * 2 / 3) # left to right
print(6 / 2 * 3) # left to right
print(2 ** 3 ** 2, 2 ** (3 ** 2)) # right to left
print(2 - 4 * 5)

40
False
4.0
9.0
512 512
-18

In [50]:
# ternary operator # (on_false, on_true) [expression]
a,b = 10,20
print('Maximum:',(b,a)[a > b])
print('Minimum:',{True: a, False: b}[a < b])
print("a>b" if a>b else "a<=b")
print("equal" if a==b else "a>b" if a>b else "a<b")
print('Minimum:',(lambda: b, lambda: a)[a < b]())

Maximum: 20
Minimum: 10
a<=b
a<b
Minimum: 10

## Conditional statements

#### if else

In [51]:
a,b = 10,20
if a>b:
    print("a>b")
    print("if block end")
else:
    print("a<=b")
    print("else block end")
print("program continues")
# else block is always optional

a<=b
else block end
program continues

#### elif

In [52]:
a,b = 10,20
if a>b:
    print("a>b")
    print("if block end")
elif a<b:
    print("a<b")
    print("elif block end")
else:
    print("a==b")
    print("else block end")
print("program continues")

a<b
elif block end
program continues

#### shorthand if elif if-else

In [53]:
a,b = 10,5
if a>b:print('if value')
print("if value" if a<b else "else value")
print("if value" if a<b else "elif value" if a>b else "else value")

maximum = a if a>b else b
print(maximum)

a,b=20,20
result = a if a>b else b if b>a else 'equal'
print(result)

print(a) if a>b else print(b) if b>a else print('equal')

if value
else value
elif value
10
equal
equal

#### nested if

In [54]:
a,b = 20,10
if a>10 and b>5:
    print('both conditions are true')
if a>50 or b>5:
    print('atleast one of the conditions is true')

a = 12
if a>10:
    if a>15:
        print("a>15")
    else:
        print('a>10 and a<15')
else:
    print('a<=10')

if True:
    pass
else:
    pass

both conditions are true
atleast one of the conditions is true
a>10 and a<15

## Loops

#### while with else

In [55]:
i = 2
while i<10:
    print(i)
    i += 2 # without increment, it is infinite loop
else:  # esle is optional
    print('else')
print("program continues")

2
4
6
8
else
program continues

In [56]:
i = 2
while i>10: # condition false in the first iteration
    print(i)
    i += 2
else:
    print('else')
print("program continues")

else
program continues

#### while with break

In [57]:
i = 2
while i<10:
    if i==6:
        break
    print(i)
    i += 2
else: # else is not executed as cond is not False but loop breaks
    print('else')
print("program continues")

2
4
program continues

#### while with continue

In [58]:
i = 2
while i<10:
    i += 2
    if i==6:
        continue
    print(i)
else:
    print('else')
print("program continues")

4
8
10
else
program continues

#### infinite while

In [59]:
# #infinite loop as always i<10 is True for i==6
# i = 2
# while i<10:
#     if i==6:
#         continue
#     print(i)
#     i += 2
# else:
#     print('else')
# print("program continues")

#### nested while

In [60]:
color = ["grey", "black", "white"]
item = ["shirt", "shoe", "mobile"]

i=0
while i < 3:
    j=0
    while j < 3:
        print(color[i]," : ",item[j])
        j = j+1
    i = i+1

grey  :  shirt
grey  :  shoe
grey  :  mobile
black  :  shirt
black  :  shoe
black  :  mobile
white  :  shirt
white  :  shoe
white  :  mobile

#### pass in while

In [61]:
i = 1
while i>6: # i<6 results in infinite loop
    pass
else:
    print('else')
print('end')

else
end

#### for

In [62]:
print(range(3), list(range(1,5)))
for i in range(1,6):
    print(i, end='-')
for i in "laptop":
    print(i,end=" ")
for index,element in enumerate([10,20,30]):
    print(index,element,sep=':',end=' ')
for index,element in enumerate(['a','b'], start=111):
    print(index,element,sep=':',end=' ')
for i in enumerate(['a','b'], start=111):
    print(i,sep=':',end=' ')

range(0, 3) [1, 2, 3, 4]
1-2-3-4-5-l a p t o p 0:10 1:20 2:30 111:a 112:b (111, 'a') (112, 'b')

#### for with continue

In [63]:
for i in range(1,11): # [1,2,3,4,5,6,7,8,9,10]
    if i%2 == 0:
        continue
    print(i,end=' ')
else:
    print('else')
print('program continues')

1 3 5 7 9 else
program continues

#### for with break

In [64]:
for i in range(1,11): # [1,2,3,4,5,6,7,8,9,10]
    if i%5 == 0:
        break
    print(i,end=' ')
else:
    print('else')
print('program continues')

1 2 3 4 program continues

#### nested for

In [65]:
color = ["grey", "black", "white"]
item = ["shirt", "shoe", "mobile"]
for c in color:
    for i in item:
        print(c,":",i)

grey : shirt
grey : shoe
grey : mobile
black : shirt
black : shoe
black : mobile
white : shirt
white : shoe
white : mobile

#### pass in for

In [66]:
for i in "abcd":
    pass
else:
    print('else')
print('program continues')

else
program continues

### match

In [67]:
# run in colab
status = 400
match status:
    case 200:
        print('case 400: success')
    case 400:
        print('case 400: bad request')
    case 500:
        print('case 500: server error')
    case _:
        print("Something's wrong with the internet")

case 400: bad request

## Data Structures

### str

In [68]:
print('hello',"hello",'''hello
    world''')
print('"Python"', "\"Python\"", 'Don\'t use \\', "\x48\x65\x6c\x6c\x6f")

hello hello hello
    world
"Python" "Python" Don't use \ Hello

In [69]:
a = '0123456789'
b = '987654321'
print(a)

for i in b:
    print(i,end='')

0123456789
987654321

In [70]:
# type, len
print(type(a))
print(len(a),len(b))

<class 'str'>
10 9

In [71]:
# indexing
print(a[0],a[len(a)-1],
      b[-1],b[-len(b)])
# last_index  = len(a) - 1

0 9 1 9

In [72]:
# membership (in, not in) - check substring
print('0' in a, '99' in a, 'abc' not in b)

True False True

In [73]:
# slicing
print(a[:],a[::]) # 0123456789 0123456789
print(a[:5], a[2:]) # 01234 23456789
print(a[0:8], a[1:7:2]) # 01234567 135
print(a[::-1], a[9:0:-1]) # 9876543210 987654321
print(b[-3::], b[-3::-1]) # 321 3456789
a[2:9:-1], a[-6:9:-1], b[-2:-9:1],  # empty strings

0123456789 0123456789
01234 23456789
01234567 135
9876543210 987654321
321 3456789

('', '', '')

In [74]:
print(a+b, a+" "+b, a*2)
print("the number is " + str(5))
print("the number is %s" % str(5))
print("the number is %d" % 5)
print("the number is {}".format(5))

0123456789987654321 0123456789 987654321 01234567890123456789
the number is 5
the number is 5
the number is 5
the number is 5

In [75]:
# string methods
a = 'hello Tony, 25th street is crowded. 1a2a3a-a. Groß.'
print(a.capitalize()) # 1st UC, rest LC
print(a.title()) # 1st ch of each word UC
print(a.lower()) # all ascii to LC
print(a.casefold()) # all strictly LC
print(a.upper()) # all strictly UC
print(a.swapcase()) # strictly, UC to LC and LC to UC

Hello tony, 25th street is crowded. 1a2a3a-a. groß.
Hello Tony, 25Th Street Is Crowded. 1A2A3A-A. Groß.
hello tony, 25th street is crowded. 1a2a3a-a. groß.
hello tony, 25th street is crowded. 1a2a3a-a. gross.
HELLO TONY, 25TH STREET IS CROWDED. 1A2A3A-A. GROSS.
HELLO tONY, 25TH STREET IS CROWDED. 1A2A3A-A. gROSS.

In [76]:
print('a1'.isalnum(), ' '.isalnum()) # True False
print('0'.isdecimal(),'2²'.isdecimal(), 'ↁ'.isdecimal()) # True False False
print('0'.isdigit(),'2²'.isdigit(), 'ↁ'.isdigit()) # True True False
print('0'.isnumeric(),'2²'.isnumeric(), 'ↁ'.isnumeric()) # True True True
print('aA'.isalpha(), '1'.isalpha()) # True False
print(' groß'.islower()) # True
print(' GROSS'.isupper()) # True
print('22Nd, Groß'.istitle()) # True
print("  ".isspace(), " s  ".isspace(), "".isspace()) # True False False
print('2age'.isidentifier()) # False
print('hello'.isprintable(), 'hello\n'.isprintable()) # True False

True False
True False False
True True False
True True True
True False
True
True
True
True False False
False
True False

In [77]:
print("hello welcome to python".startswith('hello welcome')) # True
print("hello welcome to python".startswith('Hello')) # False
print("hello welcome to python".startswith('welcome',6,20)) # True (checks in 6th to 10th index in main string)
print("hello welcome to python".endswith('python')) # True
print("hello welcome to python".endswith('the python')) # False
print("hello welcome to python".endswith('come',5,13)) # True (checks in 5th to 13th index in main string)

True
False
True
True
False
True

In [78]:
print('apple'.count('p')) # 2
print('The python, The data science'.count('The')) # 2
print('apple'.count('zzz')) # 0
print("hello welcome to python".count('o',3,15)) # 2

2
2
0
2

In [79]:
print('hello welcome to python'.find('welcome')) # 6
print('hello welcome to python'.find('o',2,20)) # 4
print('hello welcome to python'.find('z',2,20)) # -1 (NO ERROR)
print('hello welcome to python'.index('welcome')) # 6
print('hello welcome to python'.index('o',2,20)) # 4
# print('hello welcome to python'.index('z',2,20)) # ValueError: substring not found

print('hello welcome to python'.rfind('welcome')) # 6
print('hello welcome to python'.rfind('o',2,20)) # 15
print('hello welcome to python'.rfind('z',2,20)) # -1 (NO ERROR)
print('hello welcome to python'.rindex('welcome')) # 6
print('hello welcome to python'.rindex('o',2,20)) # 15
# print('hello welcome to python'.rindex('z',2,20)) # ValueError: substring not found

6
4
-1
6
4
6
15
-1
6
15

In [80]:
txt = "I am Ståle. Groß"
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="namereplace"))
# print(txt.encode(encoding="ascii",errors="strict")) # UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 7: ordinal not in range(128)

b'I am Stle. Gro'
b'I am St?le. Gro?'
b'I am St\\xe5le. Gro\\xdf'
b'I am St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le. Gro\\N{LATIN SMALL LETTER SHARP S}'

In [81]:
txt = 'h\te\tl\tl\to'
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(8)) # default
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))
print(txt)

h	e	l	l	o
h       e       l       l       o
h       e       l       l       o
h e l l o
h   e   l   l   o
h         e         l         l         o
h	e	l	l	o

In [82]:
print('6 pens cost ${}'.format(55.456))
print('6 pens cost ${price:.2f}'.format(price=55.456))
#named indexes:
print("My name is {fname}, I'm {age}".format(age = 60, fname = "John")) # oder of parameters is not imp
#numbered indexes:
print("I'm {1}. My name is {0}".format("Tony",25)) # oder is imp
#empty placeholders:
print("My name is {}, I'm {}".format("Allen",40)) # oder is imp

6 pens cost $55.456
6 pens cost $55.46
My name is John, I'm 60
I'm 25. My name is Tony
My name is Allen, I'm 40

In [83]:
print('abc abcd abcde'.replace('ab','pq')) # pqc pqcd pqcde
print('abc abcd abcde'.replace('ab','pq',2)) # pqc pqcd abcde
print('abc abcd abcde'.replace('ij','pq')) # abc abcd abcde => NO ERROR

names = ['john','tony','allen']
print('-'.join(names)) # joins collection elements and returns a string

print('he is kind'.split()) # ['he', 'is', 'kind'], splits str into list
print('he is kind, strong, intelligent'.split(', ')) # ['he is kind', 'strong', 'intelligent']
print('he is kind, strong, intelligent'.split(sep=', ', maxsplit=1)) # ['he is kind', 'strong, intelligent'], maxsplit = 1

print('he is kind'.rsplit()) # ['he', 'is', 'kind']
print('he is kind, strong, intelligent'.rsplit(', ')) # ['he is kind', 'strong', 'intelligent']
print('he is kind, strong, intelligent'.rsplit(sep=', ', maxsplit=1)) # ['he is kind, strong', 'intelligent'], maxsplit = 1

print('hello\nworld\nwelcome\tto\tpython'.splitlines()) # ['hello', 'world', 'welcome\tto\tpython']
print('hello\nworld\nwelcome\tto\tpython'.splitlines(keepends=True)) # ['hello\n', 'world\n', 'welcome\tto\tpython']

pqc pqcd pqcde
pqc pqcd abcde
abc abcd abcde
john-tony-allen
['he', 'is', 'kind']
['he is kind', 'strong', 'intelligent']
['he is kind', 'strong, intelligent']
['he', 'is', 'kind']
['he is kind', 'strong', 'intelligent']
['he is kind, strong', 'intelligent']
['hello', 'world', 'welcome\tto\tpython']
['hello\n', 'world\n', 'welcome\tto\tpython']

In [84]:
txt = 'I like apples, she likes apples and mangoes'
print(txt.partition('apples')) # ('I like ', 'apples', ', she likes apples and mangoes')
print(txt.partition('kiwi')) # ('I like apples, she likes apples and mangoes', '', '')
print(txt.rpartition('apples')) # ('I like apples, she likes ', 'apples', ' and mangoes')
print(txt.rpartition('kiwi')) # ('', '', 'I like apples, she likes apples and mangoes')

('I like ', 'apples', ', she likes apples and mangoes')
('I like apples, she likes apples and mangoes', '', '')
('I like apples, she likes ', 'apples', ' and mangoes')
('', '', 'I like apples, she likes apples and mangoes')

In [85]:
txt = 'Hello John'
trans_table = txt.maketrans('noJh','yoTn')
new_txt = txt.translate(trans_table)
print(txt, trans_table, new_txt)

trans_table = txt.maketrans('noJh','yoTn','elH')
new_txt = txt.translate(trans_table)
print(txt, trans_table, new_txt)

Hello John {110: 121, 111: 111, 74: 84, 104: 110} Hello Tony
Hello John {110: 121, 111: 111, 74: 84, 104: 110, 101: None, 108: None, 72: None} o Tony

In [86]:
txt = "    abcdBanana, applesabcd    "
print(txt.strip())
print(txt.lstrip())
print(txt.rstrip())
print(txt.strip('da bc'))
print(txt.lstrip('da bc'))
print(txt.rstrip('da bc'))

abcdBanana, applesabcd
abcdBanana, applesabcd
    abcdBanana, applesabcd
Banana, apples
Banana, applesabcd
    abcdBanana, apples

In [87]:
txt = 'DSS'
print(txt.center(21))
print(txt.center(21, '*'))
print(txt.ljust(12))
print(txt.ljust(12, '*'))
print(txt.rjust(12))
print(txt.rjust(12, '*'))

number = '25'
print(number.zfill(1))
print(number.zfill(4))
print(txt.zfill(5))

         DSS
*********DSS*********
DSS
DSS*********
         DSS
*********DSS
25
0025
00DSS

### list

- heterogeneous, ordered (indexed), mutable, allow duplicates

In [88]:
l1 = [1, 1, 2.5, "a", True, [10,20]]
print(l1, type(l1), len(l1))
print(l1[0],l1[-1],l1[-1][0], l1[:3], l1[-1][-2:-1:1])
# print(l1[100]) # IndexError: list index out of range

l1[0] = 'p'
l1[1:3] = 'q'
print(l1)

l2 = list("ab")
print(l2)
print(l2 + l2, l2 * 3)

l3 = list((1,2,3))
del l3[-1]
print(l3)

print(1 in l3, 'n' in l2, 10 in l1, [10,20] not in l1)
del l3
# print(l3) # NameError: name 'l3' is not defined

[1, 1, 2.5, 'a', True, [10, 20]] <class 'list'> 6
1 [10, 20] 10 [1, 1, 2.5] [10]
['p', 'q', 'a', True, [10, 20]]
['a', 'b']
['a', 'b', 'a', 'b'] ['a', 'b', 'a', 'b', 'a', 'b']
[1, 2]
True False False False

In [89]:
# empty list
l1 = []
l2 = list()
l3 = [].copy()

l4 = [1,2,3]
l4.clear()

l5 = [][:]
l6 = [value for value in []]
print(l1,l2,l3,l4,l5,l6)

[] [] [] [] [] []

In [90]:
l1 = [1,2,3, [4,5,6]]
for i in l1:
    print(i)

for i in range(len(l1)):
    print(l1[i])

i = 0
while i < len(l1):
    print(l1[i])
    i+=1

1
2
3
[4, 5, 6]
1
2
3
[4, 5, 6]
1
2
3
[4, 5, 6]

In [91]:
# list methods
l1 = [1,2,3]
l1.append(1)
l1.append([1,5]); print(l1)
l1.extend([6,7]); print(l1)
# l1.extend(8) # TypeError: 'int' object is not iterable
l1.insert(1,'10')
l1.insert(-1,['a','b']); print(l1)

l2 = l1.copy()
l3 = l1
print(l2==l1, l1 is l2)
print(l3==l1, l1 is l3)

print(l1.count(1), l1.count(100))
print(l1.index(1)) # 1st occurence
# print(l1.index(100)) # ValueError: 100 is not in list
print(l1.pop(), l1.pop(3), l1[-1].pop(), l1)
print(l1.remove(['a']), l1) # remove doesnot return anything so, None

l1 = [1,3,2]
print(l1[::-1], l1) # original list is not affected
print(l1.reverse(), l1) # original list is affected

l1 = ['an','apple','the', 'Banana']
print(l1.sort(), l1) # original list is affected
print(l1.sort(reverse = True), l1) # original list is affected

def length(s):
    return len(s)

print(l1.sort(key = length), l1)
print(l1.sort(key = str.lower, reverse = True), l1)

[1, 2, 3, 1, [1, 5]]
[1, 2, 3, 1, [1, 5], 6, 7]
[1, '10', 2, 3, 1, [1, 5], 6, ['a', 'b'], 7]
True False
True True
2 0
0
7 3 b [1, '10', 2, 1, [1, 5], 6, ['a']]
None [1, '10', 2, 1, [1, 5], 6]
[2, 3, 1] [1, 3, 2]
None [2, 3, 1]
None ['Banana', 'an', 'apple', 'the']
None ['the', 'apple', 'an', 'Banana']
None ['an', 'the', 'apple', 'Banana']
None ['the', 'Banana', 'apple', 'an']

In [92]:
def function(d):
    return d['age']

student = [{'name':'tony','age':26},
           {'name':'harry','age':22},
           {'name':'iris','age':25},
           {'name':'john','age':23}]
student.sort(key=function)

1. print all elements in different lines in l1 = [1,2,3, [4,5,6]]
2. Print sum of all elements in  l1 = [1,2,3, [4,5,6]]

### tuple

- heterogeneous, ordered (indexed), immutable, allow duplicates

In [93]:
i = (1)
tuple1 = (1,)
tuple2 = (1,2,(3,4),[5,6])
print(i,tuple1,tuple2, type(i), type(tuple1), len(tuple1), len(tuple2))
t1 = ()
t2 = tuple(())
t3 = ()[:]
t4 = t1
print(t1,t2,t3,t4)
print(id(t1),id(t2),id(t3),id(t4),id(tuple1), id(tuple2), len(t1))

t = (1,True, bool(0),"abc")
print(t+t, t*2)
# print(t+[1,2]) # TypeError: can only concatenate tuple (not "list") to tuple

1 (1,) (1, 2, (3, 4), [5, 6]) <class 'int'> <class 'tuple'> 1 4
() () () ()
136118692102256 136118692102256 136118692102256 136118692102256 136118267246192 136118267005824 0
(1, True, False, 'abc', 1, True, False, 'abc') (1, True, False, 'abc', 1, True, False, 'abc')

#### tuple vs lists

- immutable | mutable
- Less memory | More memory [obj.\__sizeof__()]
- **Static** [single block of memory] | Dynamic [two blocks]
- Good for accessing elements | Good for insertion and deletion operations
- implementation  of iterations is faster | time consuming
- limited inbuilt methods | Several inbuilt methods
- **historical, db data** | temp data
- to store a row data | temp row data
- use when we are confident on data | use to contain similar type elements
- to read elements | to update elements

In [94]:
t1 = (1,2,3)
l1 = [1,2,3]
print(t1.__sizeof__(), l1.__sizeof__())

48 72

In [95]:
t1 = (1,2,3, (4,"abcd"))
print(t1[0], t1[-1][1][2], t1[:-1], t1[::-1], t1[-3:-1:1], t1[-3:-1:-1])
print(1 in t1, "abcd" in t1[-1], 4 not in t1)

for i in t1:
    print(i)

for i in range(len(t1)):
    print(t1[i])

i = 1
while i < len(t1): # loop through alternate elements
    print(t1[i])
    i+=2

p,*_,r = t1
print(p,_,r)

1 c (1, 2, 3) ((4, 'abcd'), 3, 2, 1) (2, 3) ()
True True True
1
2
3
(4, 'abcd')
1
2
3
(4, 'abcd')
2
(4, 'abcd')
1 [2, 3] (4, 'abcd')

In [96]:
t1 = (1,2,3, (4,"abcd"))

print(id(t1))
# t1[0] = 10 # TypeError: 'tuple' object does not support item assignment
# t1.append(5) # AttributeError: 'tuple' object has no attribute 'append'
t1 = t1 + (5,)
print(t1, id(t1)) # new tuple
# t1 = t1 + [1,2,3] # TypeError: can only concatenate tuple (not "list") to tuple

# del t1[0] # TypeError: 'tuple' object doesn't support item deletion
del t1
# print(t1) # NameError: name 't1' is not defined

136118254243888
(1, 2, 3, (4, 'abcd'), 5) 136118266669200

In [97]:
# tuple methods
t1 = (1,2,"abcd", True, 1,2)
print(t1.count(1), # counts True as 1
      t1.count(100), # 0
      t1.index(1), # 1st occurence index
#       t1.index(100) # ValueError: tuple.index(x): x not in tuple
     )

3 0 0

#### named tuple
- ordered, access from both key-value and iteration

In [98]:
from collections import namedtuple

# Declaring namedtuple()
Student = namedtuple('Student', ['name', 'age', 'DOB']) # Student is tuple name. 'name', 'age', 'DOB' are keys of that tuple

# Adding values
S = Student('Nandini', '19', '25-4-1997')

# Access using index
print('Student age:',S[1])

# Access using name
print('Student name:',S.name)

# Access using getattr()
print('Student DOB:',getattr(S, 'DOB'))

print(S, type(S), S._fields)

Student age: 19
Student name: Nandini
Student DOB: 25-4-1997
Student(name='Nandini', age='19', DOB='25-4-1997') <class '__main__.Student'> ('name', 'age', 'DOB')

### dict

- key-value pairs, ordered, keys are immutable types (hashable), items are mutable, no duplicates for key, values can be duplicates and mutable or immutable
- constant time lookup O(1) regardless of dict size

In [99]:
d = {1:'a',2:"b",None:"c", "d":4, "d":5} # no duplicates in key
print(d, type(d), len(d))
d['d'] = 40 # modify item
d['e'] = 50 # add new item
print(d['d'],d)
# print(d['p']) # KeyError: 'p'
print('d' in d, 40 in d) # checks in keys

{1: 'a', 2: 'b', None: 'c', 'd': 5} <class 'dict'> 4
40 {1: 'a', 2: 'b', None: 'c', 'd': 40, 'e': 50}
True False

In [100]:
i = d.items()
k = d.keys()
v = d.values()

d['f'] = 60
print(i,k,v,sep='\n')

for key in d:
    print(key)
for key in k:
    print(key,d[key])
for key,value in i:
    print(key,value)
for item in i:
    print(item)

dict_items([(1, 'a'), (2, 'b'), (None, 'c'), ('d', 40), ('e', 50), ('f', 60)])
dict_keys([1, 2, None, 'd', 'e', 'f'])
dict_values(['a', 'b', 'c', 40, 50, 60])
1
2
None
d
e
f
1 a
2 b
None c
d 40
e 50
f 60
1 a
2 b
None c
d 40
e 50
f 60
(1, 'a')
(2, 'b')
(None, 'c')
('d', 40)
('e', 50)
('f', 60)

In [101]:
d1 = {}
d2 = dict()
d3 = {key:value for key,value in []}
k = v = {}
d4 = dict(zip(k,v)) # # k,v are dict
d5 = dict.fromkeys(k)
print(d1,d2,d3,d4,d5, type(d1),type(d2),type(d3),type(d4),type(d5))

keys = [1,2,3]
d6 = dict.fromkeys(keys)
d7 = dict.fromkeys(keys,0)
print(d6,type(d6), d7, type(d7))

{} {} {} {} {} <class 'dict'> <class 'dict'> <class 'dict'> <class 'dict'> <class 'dict'>
{1: None, 2: None, 3: None} <class 'dict'> {1: 0, 2: 0, 3: 0} <class 'dict'>

In [102]:
d = {'student1': {'name':"tony",'age':20},
     'student2': {'name':"john",'age':22}}
print(type(d), type(d['student1']), d['student1']['name'])
del d['student2']['name']
print(d)
del d
# print(d) # NameError: name 'd' is not defined

<class 'dict'> <class 'dict'> tony
{'student1': {'name': 'tony', 'age': 20}, 'student2': {'age': 22}}

In [103]:
# dict methods
d = {'student1': {'name':"tony",'age':20},
     'student2': {'name':"john",'age':22}}

# print(d['student3']) # KeyError: 'student3'
print(d.get('student1'), d.get('student3')) # NO ERROR
print(d.keys(), d.values(), d.items(), sep='\n')

d.update({'student3':{"name":"bob",'age':21}})
d.update({'student4':{"name":"harry",'age':20},
          'student5':{"name":"henry",'age':25}})
d.update([('student6',{"name":"allen",'age':23}),
          ('student7',{"name":"joe",'age':24})])

d.pop('student1')
d.popitem() # last item
del d['student2']
del d['student3']['age']

for i in d.items():
    print(i)

d1 = d.copy()
print(d1 is d)

d.setdefault("company", "data science stack")
d.setdefault("student4", None)
print(d)

del d
# print(d) # NameError: name 'd' is not defined

{'name': 'tony', 'age': 20} None
dict_keys(['student1', 'student2'])
dict_values([{'name': 'tony', 'age': 20}, {'name': 'john', 'age': 22}])
dict_items([('student1', {'name': 'tony', 'age': 20}), ('student2', {'name': 'john', 'age': 22})])
('student3', {'name': 'bob'})
('student4', {'name': 'harry', 'age': 20})
('student5', {'name': 'henry', 'age': 25})
('student6', {'name': 'allen', 'age': 23})
False
{'student3': {'name': 'bob'}, 'student4': {'name': 'harry', 'age': 20}, 'student5': {'name': 'henry', 'age': 25}, 'student6': {'name': 'allen', 'age': 23}, 'company': 'data science stack'}

#### ordered dict

In [104]:
# ordered dict: LIFO
from collections import OrderedDict

od = OrderedDict()
print(type(od))

# add item to the end of dict
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4

od['c'] = 5
print(od)

od.pop('b')
od['b'] = 9
print(od)

od.update({'e':5})
od.update((('f', 6),('g',7)))
print(od)

od.move_to_end('e', last=False)
print(od)

# LIFO (Stack)
od.popitem()
od.update({'h':8})
print(od)

<class 'collections.OrderedDict'>
OrderedDict([('a', 1), ('b', 2), ('c', 5), ('d', 4)])
OrderedDict([('a', 1), ('c', 5), ('d', 4), ('b', 9)])
OrderedDict([('a', 1), ('c', 5), ('d', 4), ('b', 9), ('e', 5), ('f', 6), ('g', 7)])
OrderedDict([('e', 5), ('a', 1), ('c', 5), ('d', 4), ('b', 9), ('f', 6), ('g', 7)])
OrderedDict([('e', 5), ('a', 1), ('c', 5), ('d', 4), ('b', 9), ('f', 6), ('h', 8)])

#### default dict

In [105]:
# defaultdict never raises a KeyError.
# It provides a default value for the key that does not exists.

import collections
# d = collections.defaultdict("Unknown") # TypeError: first argument must be callable or None
dd1 = collections.defaultdict(None)
dd2 = collections.defaultdict(lambda: 'Unknown')


dd1["a"] = dd2["a"] = 1
dd1["b"] = dd2["b"] = 2

print(dd1["a"], dd2['a'])
print(dd1["b"], dd2['b'])
print(
#     dd1["c"], # KeyError: 'c'
      dd2['c'])
print(dd1,dd2, type(dd1))

dd2.__missing__('z')
print(dd2.__missing__('z'), dd2)

1 1
2 2
Unknown
defaultdict(None, {'a': 1, 'b': 2}) defaultdict(<function <lambda> at 0x7bcc80304ee0>, {'a': 1, 'b': 2, 'c': 'Unknown'}) <class 'collections.defaultdict'>
Unknown defaultdict(<function <lambda> at 0x7bcc80304ee0>, {'a': 1, 'b': 2, 'c': 'Unknown', 'z': 'Unknown'})

In [106]:
d = collections.defaultdict(list)

for i in range(10):
    d[i].append((i**2,i**3)) # sqaure and cube

print("Dictionary with values as list:")
for k,v in d.items():
    print(k,v)

Dictionary with values as list:
0 [(0, 0)]
1 [(1, 1)]
2 [(4, 8)]
3 [(9, 27)]
4 [(16, 64)]
5 [(25, 125)]
6 [(36, 216)]
7 [(49, 343)]
8 [(64, 512)]
9 [(81, 729)]

#### ChainMap

In [107]:
# chainmap: ordering is done
from collections import ChainMap

d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'd': 4}
d3 = {'e': 5, 'f': 6}

# Defining the chainmap
c = ChainMap(d1, d2, d3)

print(type(c))
print(c)
print(list(c.keys()), list(c.values()))

c1 = c.new_child({'g':7}) # at the beginning of chainmap
print(c1.maps)

r = reversed(c1.maps) # <list_reverseiterator object at 0x000002628AF23AF0>
print(list(r))

<class 'collections.ChainMap'>
ChainMap({'a': 1, 'b': 2}, {'b': 3, 'd': 4}, {'e': 5, 'f': 6})
['e', 'f', 'b', 'd', 'a'] [5, 6, 2, 4, 1]
[{'g': 7}, {'a': 1, 'b': 2}, {'b': 3, 'd': 4}, {'e': 5, 'f': 6}]
[{'e': 5, 'f': 6}, {'b': 3, 'd': 4}, {'a': 1, 'b': 2}, {'g': 7}]

### set

- unordered (unindexed), stores all unique values (True and 1 are same for set), mutable (add and remove items), heterogeneous

In [108]:
s1 = set(['a','b','c',2, True, 1]) # True is choosen but not 1
s2 = {1,2,3,'a', True} # 1 is choosen but not True

print(s1,s2, type(s1), type(s2), len(s1), len(s2))

print('c' in s1, 'c' not in s1)
for i in s1:
    print(i, end=" ")
del s1,s2
# print(s1) # NameError: name 's1' is not defined

{True, 2, 'c', 'b', 'a'} {1, 2, 3, 'a'} <class 'set'> <class 'set'> 5 4
True False
True 2 c b a

In [109]:
s1 =set()
s1.add("a")
s1.update({"b",'c', 'a'})
s2 = s1.copy()
print(s2, s2 is s1)

{'b', 'a', 'c'} False

In [110]:
s1 = {'a','b','c','d'}
s2 = {'c','d','e','f'}
s3 = {'c','a','e','g'}
print(s1.intersection(s2,s3), # c
     s1.difference(s2,s3), # b
     s1.symmetric_difference(s2), # abfe (other than intersection)
     s1.union(s2,s3), # abcdefg
     s1.isdisjoint({}), # True
     s1.isdisjoint(s2), # False
     {'a'}.issubset(s1), # True
     s1.issuperset({'a'}), # True
     s1.remove('a'), # None. raise error if element is not found
     s1.discard('z'), # None. No Error
     s1.pop(), # returns randomly removed item
     s1, # if b is popped, then cd will be remaining
     s1.clear(), # returns None. s1 elements are deleted
     s1 # {}
     )


s1 = {1,2,3}
s1.intersection_update({1,4}) # 1
print(s1)

s1 = {1,2,3}
s1.difference_update({1,4}) # 23
print(s1)

s1 = {1,2,3}
s1.symmetric_difference_update({1,4}) # 234
print(s1)

{'c'} {'b'} {'f', 'e', 'b', 'a'} {'f', 'e', 'c', 'b', 'g', 'a', 'd'} True False True True None None b set() None set()
{1}
{2, 3}
{2, 3, 4}

### array

- homogeneous
- element wise operations are possible
- optimized for arithmetic operations

In [111]:
l1 = [1,2,3,'a']
print(l1+l1,
#       l1.max() # AttributeError: 'list' object has no attribute 'max'
     )

import array as arr # not recommeded
a1 = arr.array('i',[1,2,3]) # homogeneous
print(a1, type(a1), a1+a1)

import numpy as np
a2 = np.array(l1) # heterogeous but not recommended
print(a2, type(a2))

a3 = np.array([1,2,3]) # homogeneous
print(a3, type(a3), a3+a3, a3*3) # elementwise operation
a3[0] = 0
# a3[3] = 40 # IndexError: index 3 is out of bounds for axis 0 with size 3
print(a3[0], a3.max(), a3.sum())

[1, 2, 3, 'a', 1, 2, 3, 'a']
array('i', [1, 2, 3]) <class 'array.array'> array('i', [1, 2, 3, 1, 2, 3])
['1' '2' '3' 'a'] <class 'numpy.ndarray'>
[1 2 3] <class 'numpy.ndarray'> [2 4 6] [3 6 9]
0 3 5

### shallow and deep copy

In [112]:
a = [1,2,3,[4,5,6]]
# b = a # no copy

b = a[:] # shallow copy
# b = list(a) # shallow copy
# b = a.copy() # shallow copy

import copy
# b = copy.copy(a) # shallow copy
# b = copy.deepcopy(a) # deep copy

print('a:',a)
print('b:',b)
print(a is b, a[0] is b[0], a[3][0] is b[3][0])

print("\nUpdating b[0] and b[3][0]\n")
b[0] = 10
b[3][0] = 40

print('a:',a)
print('b:',b)
print(a is b, a[0] is b[0], a[3][0] is b[3][0])

a: [1, 2, 3, [4, 5, 6]]
b: [1, 2, 3, [4, 5, 6]]
False True True

Updating b[0] and b[3][0]

a: [1, 2, 3, [40, 5, 6]]
b: [10, 2, 3, [40, 5, 6]]
False False True

### List comprehension

- to generate a new list
- enclosed in []

In [113]:
print([i for i in range(5)]) # [0, 1, 2, 3, 4]
print([i for i in range(10) if i%2==0]) # [0, 2, 4, 6, 8]
print([i for i in range(10) if i%2==0 if i<5]) # [0, 2, 4]
print(['even' if i%2==0 else "odd" for i in range(5)]) # ['even', 'odd', 'even', 'odd', 'even']
print([i if i<0 else "odd" if i%2!=0 else 'even' for i in range(-5,3)]) # [-5, -4, -3, -2, -1, 'even', 'odd', 'even']
print([i+j for i in ['1','2','3'] for j in ['a','b','c']]) # ['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']
print([(i,x) for i,x in enumerate(range(1,4))]) # [(0, 1), (1, 2), (2, 3)]

# flattening
outerlist = [[2, 2], [4], [1, 2, 3, 4], [1, 2, 3]]
print([x for innerlist in outerlist for x in innerlist]) # [2, 2, 4, 1, 2, 3, 4, 1, 2, 3]

# comprehension to add 2 to each item in the list
outerlist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([[x+2 for x in innerlist] for innerlist in outerlist]) # [[3, 4, 5], [6, 7, 8], [9, 10, 11]]

[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[0, 2, 4]
['even', 'odd', 'even', 'odd', 'even']
[-5, -4, -3, -2, -1, 'even', 'odd', 'even']
['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']
[(0, 1), (1, 2), (2, 3)]
[2, 2, 4, 1, 2, 3, 4, 1, 2, 3]
[[3, 4, 5], [6, 7, 8], [9, 10, 11]]

### dictionary comprehension

- to generate new dictionary
- enclosed in {}

In [114]:
print({n: n**n for n in range(1,4)}) # {1: 1, 2: 4, 3: 27}

p = {'milk':1.02, 'coffee':2.5}
print({k:v*81.99 for k,v in p.items()})
print({k:v for k,v in p.items() if v<2})
print({k:v for k,v in p.items() if v<2 if len(k)<5})
print({k:('less price' if v<2 else 'high price') for k,v in p.items()})
{ k1: {k2: k1 * k2 for k2 in range(1, 6)} for k1 in range(11, 16) }

{1: 1, 2: 4, 3: 27}
{'milk': 83.6298, 'coffee': 204.975}
{'milk': 1.02}
{'milk': 1.02}
{'milk': 'less price', 'coffee': 'high price'}

{11: {1: 11, 2: 22, 3: 33, 4: 44, 5: 55},
 12: {1: 12, 2: 24, 3: 36, 4: 48, 5: 60},
 13: {1: 13, 2: 26, 3: 39, 4: 52, 5: 65},
 14: {1: 14, 2: 28, 3: 42, 4: 56, 5: 70},
 15: {1: 15, 2: 30, 3: 45, 4: 60, 5: 75}}

**Advantages of using dictionary comprehension**

- makes code more elegant
- easy to read code
- shortens the process of initialising dictionaries
- cut short to few lines of code keeping logic intact

**Disadvantages of using dictionary comprehension**

- can make code run slower
- consume more memory
- complex comprehensions reduces readability of code
- not preferred in case of large dictionaries or difficult logic

## Functions

In [115]:
# function creation
def greetings():
    print("Good morning")

# call function
greetings() # no parameters no return

Good morning

In [116]:
# function creation
def greetings(a,b):
    return a.upper(),b # returned as tuple

# call function
s = greetings("Good","morning") # with multiple parameters with multiple return values
a,b = s # unpack tuple
print(s, a, b)

('GOOD', 'morning') GOOD morning

In [117]:
# abc() # NameError: name 'abc' is not defined

#### types of arguments

In [118]:
def positional(a,b):
    print(a,b)

def arbitrarypositional(a,*b):
    print(a,b)

def default(c="India"):
    print(c)

def keyword(a,b):
    print(a,b)

def arbitrarykeyword(*a,**b):
    print(a,b)
    print(type(a),type(b))

In [119]:
positional(1, 2)
arbitrarypositional(10, 20, 'a', 'b')
default()
default("Norway")
keyword(10, b = 30)
arbitrarykeyword(10,20,30,a='Product1',b='Product2')

1 2
10 (20, 'a', 'b')
India
Norway
10 30
(10, 20, 30) {'a': 'Product1', 'b': 'Product2'}
<class 'tuple'> <class 'dict'>

#### order of arguments

1. positional arguments
2. arbitrary positional arguments
3. default arguments
4. keyword arguments
5. arbitrary keyword arguments

In [120]:
 def fun(a, *d, b=10, c=21, **e): # b is default argument, c is keyword
    print(a,b,c,d,e, sep="\n", end='\n\n')


fun(20,              # positional
400, 401, 402, 403,  # arbitrary positional
c=20,                # keyword (has default value)
d=[0,1,2,3],         # aribitrary keyword
p=100,               # aribitrary keyword
q=200                # aribitrary keyword
)

fun(400,401,402,403,20,
    c=20,
    d=[0,1,2,3], p=100, q=200)

20
10
20
(400, 401, 402, 403)
{'d': [0, 1, 2, 3], 'p': 100, 'q': 200}

400
10
20
(401, 402, 403, 20)
{'d': [0, 1, 2, 3], 'p': 100, 'q': 200}

In [121]:
def my_function(alpha):
    for x in alpha:
        print(x)

alphabets = ['a','b','c']
my_function(alphabets)

a
b
c

In [122]:
def function():
    pass

#### recursive function

In [123]:
# factotial of a number using recursion
def recur_factorial(n):
     if n == 1:
        return n
     else:
        return n*recur_factorial(n-1) # multiply

num = 7

# check if the number is negative
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of", num, "is", recur_factorial(num)) # 1*2*3*4*5*6*7

The factorial of 7 is 5040

In [124]:
# Sum of frist n natural numbers using recursion
def try_recursion(k):
    if(k > 0):
        result = k + try_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("Recursion Example Results")
result = try_recursion(6) # 1+2+3+4+5+6
print("result :",result)

Recursion Example Results
1
3
6
10
15
21
result : 21

### pass by object reference

In [125]:
def function(m):
    m = 'datascience'
    return m

a = 'datascience'
b = function(a)
print(a is b, a, b)

True datascience datascience

In [126]:
def function(m):
    m = 'python'
    return m

a = 'datascience'
b = function(a)
print(a is b, a, b)

False datascience python

In [127]:
def function(m):
    m.append(4)
    return m

a = [1,2,3,[4,5,6]]
b = function(a)
print(a is b, a, b)

True [1, 2, 3, [4, 5, 6], 4] [1, 2, 3, [4, 5, 6], 4]

In [128]:
def function(m):
    m[0] = 10
    m[3][0] = 40
    return m

a = [1,2,3,[4,5,6]]
b = function(a)
print(a is b, a, b)

True [10, 2, 3, [40, 5, 6]] [10, 2, 3, [40, 5, 6]]

In [129]:
def function(m):
    m = [1,2,3]
    return m

a = [1,2,3,[4,5,6]]
b = function(a)
print(a is b, a, b)

False [1, 2, 3, [4, 5, 6]] [1, 2, 3]

In [130]:
def function(m):
    return m

a = [1,2,3,[4,5,6]]
b = function(a[:])
print(a is b, a, b)

False [1, 2, 3, [4, 5, 6]] [1, 2, 3, [4, 5, 6]]

In [131]:
def function(m):
    m[0] = 10
    m[3][0] = 40
    return m

a = [1,2,3,[4,5,6]]
b = function(a[:])
print(a is b, a, b)

False [1, 2, 3, [40, 5, 6]] [10, 2, 3, [40, 5, 6]]

In [132]:
def function(m):
    m = [1,2,3,[4,5,6]]
    m[0] = 10
    m[3][0] = 40
    return m

a = [1,2,3,[4,5,6]]
b = function(a[:])
print(a is b, a, b)

False [1, 2, 3, [4, 5, 6]] [10, 2, 3, [40, 5, 6]]

### lambda functions

- one line functions
- anonymous functions
- used only once functions

In [133]:
def multiplication_with_five(x):
    return 5 * x

a = multiplication_with_five(6)
print(a)

30

In [134]:
# 1 parameter
a = lambda x: 5 * x
print(a, a(6))

<function <lambda> at 0x7bcc80f69e10> 30

In [135]:
# 2 parameters
x = lambda a, b: a * b
print(x, x(5, 6))

<function <lambda> at 0x7bcc80f68b80> 30

In [136]:
# 3 parameters
x = lambda a, b, c: a + b + c
print(x(5, 6, 2))
print(x(50, 60, 20))

13
130

#### lambda function inside another function

In [137]:
def myfunc(n):
    return lambda  a: a ** n

In [138]:
# square = lambda  a: a * 2

square = myfunc(2) # n
print(square(11)) # a

121

In [139]:
cube = myfunc(3)
print(cube(11))

1331

In [140]:
print(square(5))
print(cube(5))

25
125

#### nested lambda functions

In [141]:
z = lambda a,b : a+b
print(z(2,3))

5

In [142]:
f = lambda a = 2, b = 3: (lambda c: a+b+c)
f(5) # a = 5, but not c = 5
a = f(5)
a(6) # c = 5

14

In [143]:
z = lambda a=2,b=3 : (lambda c : lambda g : a+b+c+g)
y = z(4) # a = 4
e = y(4)
e(5)

16

### scope of variables

In [144]:
g = 10 # global scope

def function():
    l = 50 # local scope
    print(l)

function()
print(g)

50
10

In [145]:
g = 10

def function():
    print(g) # global scope

function()
print(g)

10
10

In [146]:
g = 10 # global scope

def function():
    g = 50 # variable shadowing - local scope
    print(g)

function()
print(g)

50
10

In [147]:
def function():
    global g1
    g1 = 50 # global scope
    print(g1)

function()
print(g1)

50
50

In [148]:
def function():
    global g2
    print('g')
    a = 3
    g2 = 50 # global scope
    print(g2)

function()
print(g2)

g
50
50

In [149]:
def function():
    global g3
    print('hello')
#     print(g3) # NameError: name 'g3' is not defined

function()

hello

In [150]:
g4 = 10
def function():
    global g4
    g4 = 50 # global scope
    print(g4)

function()
print(g4)

50
50

### built functions

In [151]:
class Person:
    "This is a Person class"
    name = "Tony"
    age = 60

p = Person()
print(p.age)

delattr(Person, 'age')
setattr(Person, 'gender', 'Male')
print(hasattr(Person, 'gender'))
# print(p.age) #  AttributeError: 'Person' object has no attribute 'age'

print(getattr(Person, 'name', 'my message'))
print(getattr(Person, 'page', 'my message'))

print(object(), # new object
      object())

print(vars(Person)['gender'])

60
True
Tony
my message
<object object at 0x7bcc8253bbd0> <object object at 0x7bcc8253bcd0>
Male

In [152]:
class Student(Person):
    pass

stu = Student()

In [153]:
t1 = (1,3,2)
t2 = (1,2,4)
print(abs(-5.7), # 5.7
      abs(3+4j), # 5.0 sqrt(a*a + b*b)
      all([True,0]), # False
      any([True,False]), # True
      bin(10), # 0b1010 binary version of number
      bool(10), # True
      callable(5), # False
      callable(bool), # True
      chr(97), # a
      dict(name="tony",age='60'),
      dir(Person)[-1],
      divmod(19,5), # quotient and remainder
      list(enumerate(["a","b"])),
      format(0.75, '%'),
      format(255,'b'),
      format(255,'x'),
      str(hash(t1)),
      str(hash(t2)),
#       str(hash(list(t1))), # TypeError: unhashable type: 'list'
     )

5.7 5.0 False True 0b1010 True False True a {'name': 'tony', 'age': '60'} name (3, 4) [(0, 'a'), (1, 'b')] 75.000000% 11111111 ff 1713578045245444163 -4363729961677198915

In [154]:
print(hex(255),
      id(t1),
      isinstance(5,int),
      isinstance(5,(float,str)),
      isinstance(p, Person),
      issubclass(Person, object),
      oct(12),
      ord('a'), # unicode representation of specififed character
      max(10,20),
      min("ab"), # a
      sum([10,20]),
      pow(4,3), # 4**3
      pow(4,3,5), # (4**3)%5
      round(5.73636, 2),
      round(5.73636, 3),
      round(5.73636),
      slice(0,3,2),
      t1[slice(0,3,2)],
      sorted(t1, reverse=True), # original is not affected
      t1
     )

0xff 136118254682560 True False True True 0o14 97 20 a 30 64 4 5.74 5.736 6 slice(0, 3, 2) (1, 2) [3, 2, 1] (1, 3, 2)

In [155]:
eval(compile('print(1+3)', mode='eval', filename='test')),

4

(None,)

In [156]:
eval(compile('5+5', mode='eval', filename='test'))

10

In [157]:
exec(compile('print(22)\nprint(24)', mode='exec', filename='test'))

22
24

In [158]:
# globals() # dictionary representation of current global symbol table

In [159]:
# locals() # dictionary of the current local symbol table

In [160]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [161]:
# iterable
l1 = [1,2,3]
# next(l1) # TypeError: 'list' object is not an iterator

# iterator
iterator1 = iter(l1)
print(next(iterator1),
      next(iterator1),
      next(iterator1),
#       next(iterator1) # StopIteration:
     )

a = range(1,11,2)
# next(a) # TypeError: 'range' object is not an iterator
print(a.start, a.stop, a.step,
      list(a), a.index(9),
#      a.index(2) # ValueError: 2 is not in range
     )

print(list(reversed(a)))

1 2 3
1 11 2 [1, 3, 5, 7, 9] 4
[9, 7, 5, 3, 1]

In [162]:
left = [1,2,3,4,5]
right = ['a','b','c']
for x in zip(left,right):
    print(x)

(1, 'a')
(2, 'b')
(3, 'c')

### map filter reduce

In [163]:
def square(n):
    return n*n

m = map(square, [1,2])
print(m, list(m), set(m))

s = list(map(lambda a: a.upper(), ['a','b']))
print(set(s), tuple(s))

x = map(lambda x:x*x, (1,2,3,4))  # x is the map object => Generator
print(x)
print(next(x), # 1
      next(x), # 4
      next(x), # 9
      next(x)) # 16
print(x,  # empty object exists
#       next(x) # StopIteration:
     )

<map object at 0x7bcc80f768c0> [1, 4] set()
{'A', 'B'} ('A', 'B')
<map object at 0x7bcc8031fac0>
1 4 9 16
<map object at 0x7bcc8031fac0>

In [164]:
# round takes 2 args so here we pass 2 iterables

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas))
print(result)

result = list(map(round, circle_areas, [2]))
print(result)

result = list(map(round, circle_areas, range(1, 7)))
print(result)

[4, 6, 4, 56, 9, 32]
[3.57]
[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [165]:
# incorrect return

def func(x):
    if x >= -2:
        return x # returning value for filter function : incorrect (as filter considers true or false)

num = (-4,-3,-2,-1,0,1,2,3,4)

x = filter(func, num)
print(x, list(x)) # 0 is not returned as 0 is considered False

<filter object at 0x7bcc80f76560> [-2, -1, 1, 2, 3, 4]

In [166]:
# return elements > -2

def compare(x):
    return x >= -2 # return boolean for filter functionL: correct

num = (-4,-3,-2,-1,0,1,2,3,4)

y = list(filter(compare, num)) # F, F, T, T, T, T, T, T, T
print(y) # 0 is also returned : correct

y = list(filter(lambda x: (x>=-2), num))
print(y)

[-2, -1, 0, 1, 2, 3, 4]
[-2, -1, 0, 1, 2, 3, 4]

In [167]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes = list(filter(lambda word: word == word[::-1], dromes))

print(palindromes)

['madam', 'anutforajaroftuna']

In [168]:
from functools import reduce

reduce(lambda a,b: a+b,[23,21,45,98])

187

**practice map filter reduce**

In [169]:
# Question :Correct the below code as per the given criteria

from functools import reduce

# Use map to print the square of each numbers rounded
# to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

# Use filter to print only the names that are less than
# or equal to seven letters
my_names = ["ML", "sql", "python",'datascience']

# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

# Fix all three respectively.
map_result = list(map(lambda x: x, my_floats))
filter_result = list(filter(lambda name: name, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 0)

print(map_result)
print(filter_result)
print(reduce_result)

[4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
['ML', 'sql', 'python', 'datascience']
0

In [170]:
# Solution

from functools import reduce

my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_names = ["ML", "sql", "python",'datascience']
my_numbers = [4, 6, 9, 23, 5]

map_result = list(map(lambda x: round(x ** 2, 3), my_floats))
filter_result = list(filter(lambda name: len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['ML', 'sql', 'python']
24840

In [171]:
#Printing the name of students who play basketball using filter and map method simultaneously.

# Taking an array of Student object
students = [
    { 'id': "001", 'name': "Adarsh", 'sports': "Cricket" },
    { 'id': "002", 'name': "Bharath", 'sports': "Basketball" },
    { 'id': "003", 'name': "Chetan", 'sports': "Cricket" },
    { 'id': "004", 'name': "Dev", 'sports': "Basketball" },
    { 'id': "005", 'name': "Eswar", 'sports': "Hockey" }
]

# Applying filter function on students array to retrieve those students Objects who play basketball and then
# the new array returned by filter method is mapped in order to get the name of basketball players instead of whole object

basketballPlayers = list(map(lambda x: x['name'],
                             filter(lambda student: student['sports'] == "Basketball",
                                    [student for student in students])))

print("Basketball Players:", basketballPlayers)

Basketball Players: ['Bharath', 'Dev']

In [172]:
# Purchase all the products whose price is < 500.
# List product names and net price

products = [
    { 'id': "001", 'name': "P1", 'price': 450 },
    { 'id': "002", 'name': "P2", 'price': 700 },
    { 'id': "003", 'name': "P3", 'price': 350 },
    { 'id': "004", 'name': "P4", 'price': 100 },
    { 'id': "005", 'name': "P5", 'price': 850 }
]

product_names = list(map(lambda x: x['name'],
                    filter(lambda product: product['price'] < 500,
                           [product for product in products])))
print("product names:",product_names)

net_price = reduce(lambda a,b: a+b, map(lambda x: x['price'],
                    filter(lambda product: product['price'] < 500,
                           [product for product in products])))
print("net price:",net_price)

product names: ['P1', 'P3', 'P4']
net price: 900

## File handling

Python has several functions for creating, reading, updating, and deleting files.

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

**create a new file**

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

In [173]:
# f1 = open("demo.txt", 'r') # FileNotFoundError: [Errno 2] No such file or directory: 'demo.txt'

In [174]:
f1 = open("demo.txt", 'w')
# f2 = open("demo.txt", 'x') # FileExistsError: [Errno 17] File exists: 'demo.txt'
f1.write('Hi\n welcome to the demo file')
f1.write('Hi\n welcome again to the demo file')
# f1.read() # UnsupportedOperation: not readable
f1.close()

In [175]:
f1 = open("demo.txt", 'w') # overwrite same file
f1.write('Hello\n welcome to the demo file')
f1.write('Hello2\n welcome again to the demo file')
f1.close()

In [176]:
f1 = open("demo.txt", 'a') # append to the same file
f1.write('Appended line at the end of the file')
f1.close()

In [177]:
f1 = open("demo.txt", 'r')
# f1.write('Hello') # UnsupportedOperation: not writable
txt = f1.read(10)
print("1.",txt)
txt = f1.read()
print("2.",txt)
f1.close()

1. Hello
 wel
2. come to the demo fileHello2
 welcome again to the demo fileAppended line at the end of the file

In [178]:
f1 = open("demo.txt", 'r')
line1 = f1.readline()
line2 = f1.readline()
print(line1, line2)
f1.close()

Hello
  welcome to the demo fileHello2

In [179]:
f1 = open("demo.txt", 'r')
for line in f1:
    print(line) # f1.readline()
f1.close()

Hello

 welcome to the demo fileHello2

 welcome again to the demo fileAppended line at the end of the file

In [180]:
f1 = open("demo.txt", 'r')
lines = f1.readlines()
print(lines)

['Hello\n', ' welcome to the demo fileHello2\n', ' welcome again to the demo fileAppended line at the end of the file']

In [181]:
# f = open("D:\\myfiles\welcome.txt", "r")

In [182]:
import os
# os.remove("demo.txt") # PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'demo.txt'

In [183]:
f1.close()
os.remove("demo.txt")

In [184]:
# os.remove("demo.txt") # FileNotFoundError: [WinError 2] The system cannot find the file specified: 'demo.txt'

In [185]:
# f1 = open("demo.txt", 'r') # FileNotFoundError: [Errno 2] No such file or directory: 'demo.txt'

In [186]:
if os.path.exists("demofile.txt"):
    os.remove("demofile.txt")
else:
    print("The file does not exist")

The file does not exist

In [187]:
# os.rmdir("myfolder") # removes if this is existing empty directory

## Generators

In [188]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

for value in simpleGeneratorFun():
    print(value)

1
2
3

In [189]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

x = simpleGeneratorFun() # x is generator object
print(x) # <generator object simpleGeneratorFun at 0x000001F74BB36C80>

# Iterating over the generator object using next
print(next(x))
print(next(x))
print(next(x))
# print(next(x)) # StopIteration:

<generator object simpleGeneratorFun at 0x7bcc80326f80>
1
2
3

In [190]:
def generator():
    t = 1
    print ('First result is ',t)
    yield t

    t += 1
    print ('Second result is ',t)
    yield t

    t += 1
    print('Third result is ',t)
    yield t

x = generator() # x is generator object
print(next(x), next(x), next(x))

First result is  1
Second result is  2
Third result is  3
1 2 3

### generator comprehension

In [191]:
g1 = (i for i in range(5))
g2 = (i for i in range(10) if i%2==0)
g3 = (i for i in range(10) if i%2==0 if i<5)
g4 = ('even' if i%2==0 else "odd" for i in range(5))

print(next(g1), next(g1), list(g1), tuple(g1))

0 1 [2, 3, 4] ()

In [192]:
# consuming generator
gen = (i for i in range(1,6))

print(sum(gen), # 1+2+3+4+5
      tuple(gen))

15 ()

In [193]:
# membership in generator
gen = (i for i in range(1, 11)) # 1,2,3,4,5,6,7,8,9,10
print(5 in gen) # first 5 elements are consumed
print(5 in gen) # rest gen is consumed
print(9 in gen) # empty gen
print(gen, tuple(gen))

True
False
False
<generator object <genexpr> at 0x7bcc80327a70> ()

In [194]:
# chaining comprehension

print([i**2 for i in [-5,-4,-3,-2, -1, 0, 1, 2,3,4,5]])

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

In [195]:
gen_1 = (i**2 for i in [-5,-4,-3,-2, -1, 0, 1, 2,3,4,5])

# iterates through gen_1, excluding any numbers > 5
gen_2 = (j for j in gen_1 if 0 < j <= 5) # 4,1,0,1,4

# computing 4+1+0+1+4
print(sum(gen_2), tuple(gen))

10 ()

## Iterator vs Iterable

In [196]:
# iterator : object reference: map, filter, range
#     next() : one by one and only 1 iteration
#     next()

# iterable: collection: list, tuple, set
#     print whole collection: possible
#     iter(iterable)
#       next()
#       next()

# for x in iterator/iterable:
#     pass

# x => next(iterator)

In [197]:
mytuple = ("apple", "banana", "cherry")
for x in mytuple:
    print(x)


# working of for loop

# a = iter(mytuple)
# print(next(a))
# print(next(a))
# until stopiteration

apple
banana
cherry

In [198]:
# create an iterator
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        x = self.a
        self.a += 1
        return x

myclass = MyNumbers() # myclass is iterator as it implements __iter__() and __next__() methods
myiter = iter(myclass)

for a in range(6):
    print(next(myiter),end=' ')

1 2 3 4 5 6

In [199]:
class MyRange:
    def __init__(self,start,stop,step):
        self.start = start
        self.stop = stop
        self.step = step

    def __iter__(self):
        self.a = self.start
        return self

    def __next__(self):
        if self.a <= self.stop:
            x = self.a
            self.a += self.step
            return x
        else:
            raise StopIteration # add a terminating condition to raise an error if the iteration is done a specified number of times : imp while using loop on iterator

myclass = MyRange(0,10,3)
myrange = iter(myclass)

for x in myrange:
    print(x)

0
3
6
9

## Decorators

- takes function as parameter
- returns function
- Decorators allow us to wrap another function in order to extend the behaviour of the wrapped function, without permanently modifying it.

#### without decorator

In [200]:
# without decorator
def decorate_message(arg):

    def addWelcome():
        return "Welcome to " + arg

    return addWelcome()

def message1(txt):
    return txt.upper();

def message2(txt):
    return txt.lower();

x = decorate_message(message1("Data Science Stack"))
print(x)
y = decorate_message(message2("Data Science Stack"))
print(y)

Welcome to DATA SCIENCE STACK
Welcome to data science stack

#### with decorator

In [201]:
def decorate_message(fun): # takes function as parameter:

    print('fun:',fun)

    def addWelcome(name):
        print('name:', name)
        return "Welcome to " + fun(name)

    return addWelcome # returns a function: addWelcome()

In [202]:
@decorate_message
def message1(txt):
    print('message1 txt:',txt)
    return txt.upper();

fun: <function message1 at 0x7bcc803ba320>

In [203]:
@decorate_message
def message2(txt):
    print('message2 txt:',txt)
    return txt.lower();

fun: <function message2 at 0x7bcc803ba830>

In [204]:
x = message1("Data Science Stack")
print(x)

name: Data Science Stack
message1 txt: Data Science Stack
Welcome to DATA SCIENCE STACK

In [205]:
y = message2("Data Science Stack")
print(y)

name: Data Science Stack
message2 txt: Data Science Stack
Welcome to data science stack

#### decorator usage

In [206]:
# importing libraries
import time
import math

# decorator to calculate duration taken by any function.
def calculate_time(func):

    print(func)

    # added arguments inside the inner1,
    # if function takes any arguments,
    # can be added like this.
    def inner1(*args, **kwargs):

        # storing time before function execution
        begin = time.time()

        func(*args, **kwargs)

        # storing time after function execution
        end = time.time()
        print("Total time taken in : ", func.__name__,'function is:', end - begin - 2)

    return inner1



# this can be added to any function present, in this case to calculate a factorial
@calculate_time
def factorial_of_number(num):

    # sleep 2 seconds because it takes very less time
    # so that you can see the actual difference
    time.sleep(2)
    print(math.factorial(num))

@calculate_time
def square(num):
    time.sleep(2)
    print("Square", num*num)

# calling the function.
factorial_of_number(5) # 1*2*3*4*5 : 0.0003 sec
square(5) # 5*5 : 0.0078 sec

<function factorial_of_number at 0x7bcc803badd0>
<function square at 0x7bcc803ba290>
120
Total time taken in :  factorial_of_number function is: 0.0014624595642089844
Square 25
Total time taken in :  square function is: 0.003110647201538086

#### chaining decorators

In [207]:
def decor1(func):
    print('decor1 func',func)
    def inner():
        x = func()
        print('decor1 x :',x)
        return 4 * x
    return inner

def decor(func):
    print('decor func',func)
    def inner():
        x = func()
        print('decor x :',x)
        return 2 * x
    return inner

@decor1 # 2
@decor # 1
def num():
    return 5

@decor # 2
@decor1 # 1
def num2():
    return 3

print(num())
print(num2())

decor func <function num at 0x7bcc803bb2e0>
decor1 func <function decor.<locals>.inner at 0x7bcc803bba30>
decor1 func <function num2 at 0x7bcc803bbd90>
decor func <function decor1.<locals>.inner at 0x7bcc80f180d0>
decor x : 5
decor1 x : 10
40
decor1 x : 3
decor x : 12
24

## Object Oriented Programming Concepts

### Class and Object

In [208]:
class Car:
    color = 'White'

c1 = Car()
c2 = Car()
print(Car)
print(c1, c2)
c2.color = "Black"
print(c1.color, c2.color)

<class '__main__.Car'>
<__main__.Car object at 0x7bcc803d1330> <__main__.Car object at 0x7bcc803d1180>
White Black

### Constructor

In [209]:
class Person:
    name = 'tony'
    age = 23

In [210]:
p1 = Person() # object creation using default constructor
print(p1.name, p1.age) # default values

p2 = Person()
p2.name = 'john' # changing the default values
p2.age = 25
print(p2.name, p2.age)

tony 23
john 25

In [211]:
class Person:
    name = 'tony'

    def __init__(self): # default constructor
        print("default constructor")

In [212]:
p1 = Person() # object creation using default constructor
print(p1.name)

default constructor
tony

In [213]:
class Person:
    name = 'tony'

    def __init__(self,name): # parameterized constructor
        self.name = name

In [214]:
p1 = Person('john') # object creation using parameterized constructor
print(p1.name)

john

In [215]:
class Person:
    name = 'tony'

    def __init__(self): # constructor1
        print("default constructor")

    def __init__(abc,name,a): # constructor overridding
        abc.name = name
        abc.age = a

In [216]:
# p1 = Person() # TypeError: __init__() missing 1 required positional argument: 'name'
p2 = Person('John', 24)
print(p2.name, p2.age)

John 24

In [217]:
class Person:
    def __init__(self): # default constructor
        print('default constructor')

    def __init__(self, n, age): # overidden - parameterized constructor overrides existing default constructor
        print('parameterized constructor')
        self.name = n
        self.age = age

    def getAge(self): # method
        print("get age method")
        print(self.age)

    def Person(self): # avoid, not recommended
        print('Person method')
        print(self.name)

In [218]:
p1 = Person("John", 36) #  object creation using parameterized constructor
p2 = Person("Tony",25)

p1.getAge()
p2.getAge()

p1.Person()
p2.Person()

# p3 = Person() # TypeError: __init__() missing 2 required positional arguments: 'n' and 'age'

parameterized constructor
parameterized constructor
get age method
36
get age method
25
Person method
John
Person method
Tony

In [219]:
class Person:

    def __init__(self, n, age): # parameterized constructor overrides existing default constructor
        print('parameterized constructor')
        self.name = n
        self.age = age

    def __init__(self): # overidden - default constructor
        print('default constructor')

    def get(self): # method
        print("get method")

    def Person(self): # avoid, not recommended
        print('Person method')

In [220]:
p3 = Person()
# p1 = Person("John", 36) # TypeError: __init__() takes 1 positional argument but 3 were given

default constructor

**Advantages of using constructors:**
- Initialiazation of objects with default or custom values is easy
- Easy to implement using \__init__() method
- Better readability of where and how the attributes are initialised
- Encapsulation is ensured by controlled initialisation of object attributes

**Disdvantages of using constructors:**
- Method or Constructor Overloading is not supported in python
- Limited functionality (no public, private, protected access modifiers)
- Constructors may be unnecessary (When attributes are needed to be initialised with default values)

In [221]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self): # should return string type
         return f"Name is {self.name} and age is {self.age}"

p1 = Person("John", 36)
p2 = Person("Tony", 25)

print(p1) # p1.__str__()
print(p2)
del p1.age
print(hasattr(p1,'age'))
del p2
print('p1' in globals(), 'p2' in globals())

Name is John and age is 36
Name is Tony and age is 25
False
True False

In [222]:
class Person:
    pass

### static variable

- Static variables are allocated memory once when the object for the class is created for the first time.
- Static variables are created outside of methods but inside a class
- Static variables can be accessed through a class
- Static variables behavior doesn’t change for every object.

In [223]:
class MyClass:
    static_counter = 0 # static

    def __init__(self):
        MyClass.static_counter += 1
        self.instance_var = MyClass.static_counter # instance_var non-static

obj1 = MyClass()
print(obj1.instance_var)  # Output: 1

obj2 = MyClass()
print(obj2.instance_var)  # 2

1
2

In [224]:
class MyClass:
    static_counter = 0 # static
    static_var = 99 # static

    def __init__(self):
        MyClass.static_counter += 1
        self.instance_var = MyClass.static_counter # instance_var non-static
        self.a = 1

obj1 = MyClass()
obj2 = MyClass()
obj3 = MyClass()

print(obj1.instance_var, obj2.instance_var, obj3.instance_var)
print(obj1.a, obj3.a, obj3.a)

print(MyClass.static_var, obj1.static_var, obj2.static_var)

obj1.static_var = 100 # shawdow instance var is created
print(MyClass.static_var, obj1.static_var, obj2.static_var)

obj1.static_counter = 5
print(MyClass.static_counter, obj1.static_counter, obj2.static_counter) # 2

MyClass.static_var = 200

print(MyClass.static_var, obj1.static_var, obj2.static_var) # shawdow variable is accessed

1 2 3
1 1 1
99 99 99
99 100 99
3 5 3
200 100 200

**Advantages:**
- Memory efficiency
- Shared state
- Easy to access (reading is easy)
- Initialization (assures valid starting value)
- Readability

**Disadvantages:**
- Inflexibility (difficult to have different values for different instances)
- Hidden dependencies (difficult to understand and modify the code)
- Thread safety (not properly synchronized)
- Namespace pollution
- Difficult to do unit testing (as change in static var affects the behavior of the class and its methods)

### destructor

In [225]:
class Employee:

    # Initializing
    def __init__(self):
        print('Constructor called, Employee created.')

    # Deleting (Calling destructor)
    def __del__(self):
        print('Destructor called, Employee deleted.')

obj = Employee()
del obj

Constructor called, Employee created.
Destructor called, Employee deleted.

**Advantages of destructors**
- Automatic clean up
- Consistent behavior
- Easy to use
- Supports oops
- Helps with debugging (trace life cycle of object)

### Inheritance

In [226]:
class Person(object):  # parent class / base class / super class
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        print("Person class constructor")

    def printname(self): # method
        return (self.firstname, self.lastname)

In [227]:
# Student IS-A Person
class Student(Person): # child class / derived class / sub class
    pass

In [228]:
p = Person('tony', 'robbins')
s = Student('barry', 'allen')
# s = Student() # TypeError: __init__() missing 2 required positional arguments: 'fname' and 'lname'
print(s.firstname, s.printname())

Person class constructor
Person class constructor
barry ('barry', 'allen')

In [229]:
class Student2(Person):
    def __init__(self):
        pass # no parent class construtor call

In [230]:
# s2 = Student2('barry', 'allen') # TypeError: __init__() takes 1 positional argument but 3 were given
s2 = Student2()
# s2.firstname # AttributeError: 'Student2' object has no attribute 'firstname'
# s2.printname() # AttributeError: 'Student2' object has no attribute 'firstname'

In [231]:
class Student3(Person):
    def __init__(self,a,b):
        Person.__init__(self,a,b) # self is required

In [232]:
s3 = Student3('john', 'harry')
print(s3.firstname, s3.printname())

Person class constructor
john ('john', 'harry')

In [233]:
class Student4(Person):
    def __init__(self,a,b):
        super().__init__(a,b) # access immediate parent class (self is not required)
        self.graduationyear = 2023

In [234]:
s4 = Student4('john','harry')
print(s4.firstname, s4.graduationyear, s4.printname())

Person class constructor
john 2023 ('john', 'harry')

In [235]:
print(issubclass(Student, Person))
print(issubclass(Student, object))
print(issubclass(Person, object))
print(issubclass(Person, Student))

True
True
True
False

In [236]:
print(isinstance(s4, Person)) # True
print(isinstance(s4, Student4)) # True
print(isinstance(p, Person)) # True
print(isinstance(p, Student4)) # False

True
True
True
False

### Types of inheritance

#### single inheritance

In [237]:
# Base class
class Parent:
    def pm(self):
        print("This function is in parent class.")

# Derived class
class Child(Parent):
    def cm(self):
        print("This function is in child class.")

# Driver's code
childobject = Child()
childobject.pm()
childobject.cm()

This function is in parent class.
This function is in child class.

#### method overidding in single inheritance

In [238]:
# Base class
class Parent:
    def pm(self):
        print("This function is in parent class.")

# Derived class
class Child(Parent):
    def pm(self): # method overriding
        print("This function is in child class.")

# Driver's code
childobject = Child()
childobject.pm()

This function is in child class.

In [239]:
parentobject = Parent()
parentobject.pm()

This function is in parent class.

#### multilevel inheritance

In [240]:
# Base class
class Grandfather:
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername

# Intermediate class
class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        # invoking constructor of Grandfather class
        Grandfather.__init__(self, grandfathername)

# Derived class
class Son(Father):
    def __init__(self, sonname, fathername, grandfathername):
        self.sonname = sonname
        # invoking constructor of Father class
        Father.__init__(self, fathername, grandfathername)

    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)


# Driver code
s1 = Son('S', 'F', 'GF')
print(s1.grandfathername)
s1.print_name()

f1 = Father("FN", 'GFN')
print(f1.fathername)
print(f1.grandfathername)
# print(f1.sonname) # AttributeError: 'Father' object has no attribute 'sonname'

GF
Grandfather name : GF
Father name : F
Son name : S
FN
GFN

#### hierarchical inheritance

In [241]:
# Base class
class Parent:
    def pm(self):
        print("This function is in parent class.")

# Derived class1
class Child1(Parent): # pm, c1m
    def c1m(self):
        print("This function is in child 1.")

# Derivied class2
class Child2(Parent): # pm, c2m
    def c2m(self):
        print("This function is in child 2.")


# Driver's code
object1 = Child1()
object1.pm()
object1.c1m()
# object1.c2m() # AttributeError: 'Child1' object has no attribute 'c2m'

object2 = Child2()
object2.pm()
object2.c2m()
# object2.c1m() # AttributeError: 'Child2' object has no attribute 'c1m'

parent = Parent()
parent.pm()
# parent.c1m() # AttributeError: 'Parent' object has no attribute 'c1m'
# parent.c2m() # AttributeError: 'Parent' object has no attribute 'c2m'

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.
This function is in parent class.

#### multiple inheritance

In [242]:
# Base class1
class Mother:
    mothername = ""

    def mother(self):
        print('mother method',self.mothername)

# Base class2
class Father:
    fathername = ""

    def father(self):
        print('father method',self.fathername)

# Derived class
class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)

# Driver's code
s1 = Son()
s1.father()
s1.mother()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

father method
mother method
Father : RAM
Mother : SITA

In [243]:
# multiple inheritance with same method in both parent classes

class Parent1:
    def m(self):
        print("Parent1 method")

class Parent2:
    def m(self):
        print("Parent2 method")

class Child1(Parent1, Parent2):
    def m(self):
        print("Child1 method")

class Child2(Parent1, Parent2):
    pass

class Child3(Parent2, Parent1):
    pass

c1 = Child1()
c2 = Child2()
c3 = Child3()

c1.m()
c2.m()
c3.m()

Child1 method
Parent1 method
Parent2 method

In [244]:
# multiple inheritance with same method in both parent classes

class Parent1(object):
    def m(self):
        print("Parent1 method")

class Parent2:
    def m(self):
        print("Parent2 method")

class Child1(Parent1, Parent2): # c1
    def m(self):
        print("Child1 method")

class Child2(Parent1, Parent2): # p1
    pass

class Child3(Parent2, Parent1): # p2
    pass

class Parent3:
    pass

class Child4(Parent3, Child1): # c1
    pass

class Child5(Parent3, Parent1, Parent2): # p1
    pass

class Child6(Child2, Child1): # c1 (MRO: c6-c2-c1-p1-p2)
    pass

c1 = Child1()
c2 = Child2()
c3 = Child3()
c4 = Child4()
c5 = Child5()
c6 = Child6()

c1.m()
c2.m()
c3.m()
c4.m()
c5.m()
c6.m()

Child1 method
Parent1 method
Parent2 method
Child1 method
Parent1 method
Child1 method

#### Method Resolution Order

In [245]:
# Method Resolution Order
print(Child1.mro(),
      Child2.mro(),
      Child3.mro(),
      Child4.mro(),
      Child5.mro(),
      Child6.mro(),
      sep='\n\n')

[<class '__main__.Child1'>, <class '__main__.Parent1'>, <class '__main__.Parent2'>, <class 'object'>]

[<class '__main__.Child2'>, <class '__main__.Parent1'>, <class '__main__.Parent2'>, <class 'object'>]

[<class '__main__.Child3'>, <class '__main__.Parent2'>, <class '__main__.Parent1'>, <class 'object'>]

[<class '__main__.Child4'>, <class '__main__.Parent3'>, <class '__main__.Child1'>, <class '__main__.Parent1'>, <class '__main__.Parent2'>, <class 'object'>]

[<class '__main__.Child5'>, <class '__main__.Parent3'>, <class '__main__.Parent1'>, <class '__main__.Parent2'>, <class 'object'>]

[<class '__main__.Child6'>, <class '__main__.Child2'>, <class '__main__.Child1'>, <class '__main__.Parent1'>, <class '__main__.Parent2'>, <class 'object'>]

In [246]:
# TypeError: Cannot create a consistent method resolution order (MRO) for bases Parent2, Child1, Child2
# class Child7(Parent2, Child1): # MRO confusion: c7->p2->c1->p1->p2 # Mixin class
#     pass

**MRO is based on C3 linearization algorithm**

- calculates the order in which the classes should be searched for methods
- The goal is to maintain the **depth-first, left-to-right** ordering, which helps resolve conflicts when the same method is present in multiple parent classes.

**Steps:**
1. Children get checked before their parents.
2. Parents are listed in the order they appear in the inheritance tuple.
3. When merging the parents, the parents of the parents are inserted before the parents themselves.

#### super()
- to refer parent class

In [247]:
class Class1:
    def m(self):
        print("In Class1")

class Class2(Class1):
    def m(self):
        print("In Class2")
        super().m()  # comment and check

class Class3(Class1):
    def m(self):
        print("In Class3")
        super().m()

class Class4(Class2, Class3):
    def m(self):
        print("In Class4")
        super().m() # c2.m , c3.m

o4 = Class4()
o4.m()

print(Class3.mro())
print(Class4.mro()) # Method resolution order

In Class4
In Class2
In Class3
In Class1
[<class '__main__.Class3'>, <class '__main__.Class1'>, <class 'object'>]
[<class '__main__.Class4'>, <class '__main__.Class2'>, <class '__main__.Class3'>, <class '__main__.Class1'>, <class 'object'>]

In [248]:
# when we try to call m of Class1 from both
# m of Class2 and m of Class3

class Class1:
    def m(self):
        print("In Class1")

class Class2(Class1):
    def m(self):
        print("In Class2")
        Class1.m(self)

class Class3(Class1):
    def m(self):
        print("In Class3")
        Class1.m(self)

class Class4(Class2, Class3):
    def m(self):
        print("In Class4")
        Class2.m(self)
        Class3.m(self)
        Class5.m(self)

class Class5: # same folder
    def m(self):
        print("In Class5")

o4 = Class4()
o4.m()
Class4.mro()

In Class4
In Class2
In Class1
In Class3
In Class1
In Class5

[__main__.Class4, __main__.Class2, __main__.Class3, __main__.Class1, object]

#### hybrid inheritance

In [249]:
class School:
    def func1(self):
        print("This function is in school.")

# single
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")

# hierarchical
class Student2(School):
    def func3(self):
        print("This function is in student 2.")

# multiple
class Student3(Student1, School):
    def func4(self):
        print("This function is in student 3.")

# Driver's code
object = Student3()
object.func1()
object.func2()
Student3.mro()

This function is in school.
This function is in student 1.

[__main__.Student3, __main__.Student1, __main__.School, object]

### Encapsulation

- idea of wrapping data and the methods that work on data within one unit
- It restricts accessing variables directly, instead use methods
    - such variables are declared as private variables
- class is example of encapsulation
- also hides data

In [250]:
class Base:
    def __init__(self):
        print('base init',self)
        self.__private_var = "private"
        self._protected_var = "protected"

In [251]:
class Derived(Base):
    def __init__(self):
        print('derived init',self)
        super().__init__()

In [252]:
class Derived2(Base):
    def __init__(self):
        print('derived2 init',self)
        super().__init__()
        self.__private_var = "private2"
        self._protected_var = "protected2"

In [253]:
b = Base()
d = Derived()
d2 = Derived2()

base init <__main__.Base object at 0x7bcc802142b0>
derived init <__main__.Derived object at 0x7bcc80214ee0>
base init <__main__.Derived object at 0x7bcc80214ee0>
derived2 init <__main__.Derived2 object at 0x7bcc80215360>
base init <__main__.Derived2 object at 0x7bcc80215360>

In [254]:
# b.__private_var # AttributeError: 'Base' object has no attribute '__private_var'
# d.__private_var # AttributeError: 'Derived' object has no attribute '__private_var'
# d2.__private_var # AttributeError: 'Derived2' object has no attribute '__private_var'

In [255]:
b._protected_var, d._protected_var, d2._protected_var

('protected', 'protected', 'protected2')

#### data hiding

In [256]:
class Emp:
    __salary = 50000 # private
    __password = 'abc@123' # private

    # write access (setter method)
    def setSalary(self, salary):
        self.__salary = salary

    # read access (getter method)
    def getSalary(self):
        return self.__salary

    # write access, no read access
    def setPassword(self, pwd):
        self.__password = pwd

In [257]:
e1 = Emp()
e1.setSalary(60000)
print(e1.getSalary())
e1.setPassword('emp@123')
# e1.getPassword() # AttributeError: 'Emp' object has no attribute 'getPassword'

60000

### polymorphism

In [258]:
2+2, '2'+'2' # opeator overloading

(4, '22')

In [259]:
len("abcd"), len([1,2,'Python'])

(4, 3)

In [260]:
# no polymorphism

def add(a,b): # not available anymore
    return a+b

def add(a,b,c): # not function overloading. but function overriding
    return a+b+c

# add(2,3) # TypeError: add() missing 1 required positional argument: 'c'
add(2,3,4)

9

In [261]:
# polymorphism without inheritance

class A:
    def m(self):
        print('m in A')

class B:
    def m(self): # m has diff implementation => polymorphism
        print('m in B')

a = A()
b = B()
for obj in (a,b):
    obj.m()

m in A
m in B

In [262]:
# polymorphism with inheritance

class A:
    def m(self):
        print('m in A')

class B(A):
    def m(self): # method overriding; m has diff implementation => polymorphism
        print('m in B')

a = A()
b = B()
for obj in (a,b):
    obj.m()

m in A
m in B

#### Runtime polymorphism
- Method overriding is a way to achieve runtime polymorphism

In [263]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self): # method overriding
        print("Dog barks")

animal = Animal()
dog = Dog()

# speak() works different in runtime w.r.t object used to call it => run time polymorphism
animal.speak()
dog.speak()

Animal speaks
Dog barks

### abstraction

- knowing start_engine() is enough to start car.
- internal implementation is not needed => Abstraction

In [264]:
class Car:
    def __init__(self, make, model):
        self.make = make
        self.model = model

    def start_engine(self):
        print(f"{self.make} {self.model} engine started.")

    def drive(self):
        print(f"{self.make} {self.model} is driving.")

- abstract classes and interfaces to create a blueprint for classes without providing complete implementations.
- Abstract classes cannot be instantiated directly but serve as a foundation for other classes that inherit from them.
- Abstract methods defined in abstract classes act as placeholders and must be implemented in the subclasses.
- Python provides a module named abc (Abstract Base Classes) to work with abstract classes and interfaces.

In [265]:
from abc import ABC, abstractmethod

# abstractclass
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Square(Shape):
    pass

In [266]:
# s = Shape() # TypeError: Can't instantiate abstract class Shape with abstract method area
c = Circle(4)
r = Rectangle(4,3)
print(c.area(), r.area())
# sq = Square() # TypeError: Can't instantiate abstract class Square with abstract method area

50.24 12

In [267]:
# abstraction using design patterns like Factory and Strategy patterns with multiple inheritance

from abc import ABC, abstractmethod

# Factory Pattern
class ShapeFactory:
    @staticmethod
    def create_shape(shape_type):
        if shape_type == "circle":
            return Circle()
        elif shape_type == "rectangle":
            return Rectangle()

# Strategy Pattern
class AreaCalculation(ABC):
    @abstractmethod
    def calculate_area(self):
        pass

class Circle(AreaCalculation):
    def calculate_area(self):
        return 3.14 * self.radius ** 2

class Rectangle(AreaCalculation):
    def calculate_area(self):
        return self.length * self.width

# Multiple Inheritance
# It is not an ABC, so it can be mixed with any other class,
# including concrete classes and ABCs.
class ColorMixin:
    def __init__(self, color):
        self.color = color

class FilledShape(Circle, ColorMixin):
    def __init__(self, radius, color):
        Circle.__init__(self)
        ColorMixin.__init__(self, color)
        self.radius = radius

    def display(self):
        print(f"Filled {self.color} circle area: {self.calculate_area()}")

shape = ShapeFactory.create_shape("circle")
shape.radius = 5
print("Circle area:", shape.calculate_area())


shape = ShapeFactory.create_shape("rectangle")
shape.length = 5
shape.width = 6
print("Rectangle area:", shape.calculate_area())


filled_circle = FilledShape(radius=3, color="blue")
filled_circle.display()

Circle area: 78.5
Rectangle area: 30
Filled blue circle area: 28.26

- The Factory pattern abstracts the process of object creation
- The Strategy pattern abstracts the algorithm for area calculation
- Multiple inheritance with mixins abstracts the addition of color functionality to shapes

### exception handling

- The try block lets you test a block of code for errors.
- The except block lets you handle the error.
- The else block lets you execute code when there is no error.
- The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [268]:
# print(bb) # NameError: name 'bb' is not defined
# print("end") # not executed because of above line error

In [269]:
def division_example():
    try:
        x = int(input("Enter a dividend: ")) # 5
        y = int(input("Enter a divisor: ")) # 1
        result = x / y
    except ValueError:
        print("Invalid input. Please enter valid integer values.")
    except ZeroDivisionError:
        print("Cannot divide by zero. Please enter a non-zero divisor.")
    else:
        try:
            if result > 10:
                raise ValueError("Result is greater than 10.")
        except ValueError as ve:
            print(f"ValueError: {ve}")
        else:
            print(f"Result of division: {result}")
        finally:
            print("Nested try block's finally executed.")
    finally:
        print("Finally block executed.")


division_example()

Enter a dividend: 5
Enter a divisor: 1
Result of division: 5.0
Nested try block's finally executed.
Finally block executed.

In [270]:
def division_example():
    try:
        x = int(input("Enter a dividend: ")) # 5
        y = int(input("Enter a divisor: ")) # 0
        result = x / y
    except ValueError:
        print("Invalid input. Please enter valid integer values.")
    except ZeroDivisionError:
        print("Cannot divide by zero. Please enter a non-zero divisor.")
    else:
        try:
            if result > 10:
                raise ValueError("Result is greater than 10.")
        except ValueError as ve:
            print(f"ValueError: {ve}")
        else:
            print(f"Result of division: {result}")
        finally:
            print("Nested try block's finally executed.")
    finally:
        print("Finally block executed.")


division_example()

Enter a dividend: 5
Enter a divisor: 0
Cannot divide by zero. Please enter a non-zero divisor.
Finally block executed.

In [271]:
def division_example():
    try:
        x = int(input("Enter a dividend: ")) # 20
        y = int(input("Enter a divisor: ")) # 1
        result = x / y
    except ValueError:
        print("Invalid input. Please enter valid integer values.")
    except ZeroDivisionError:
        print("Cannot divide by zero. Please enter a non-zero divisor.")
    else:
        try:
            if result > 10:
                raise ValueError("Result is greater than 10.")
        except ValueError as ve:
            print(f"ValueError: {ve}")
        else:
            print(f"Result of division: {result}")
        finally:
            print("Nested try block's finally executed.")
    finally:
        print("Finally block executed.")


division_example()

Enter a dividend: 20
Enter a divisor: 1
ValueError: Result is greater than 10.
Nested try block's finally executed.
Finally block executed.

#### application of exception handling

**1. data inpiut validation**

In [272]:
try:
    age = int(input("Enter your age: ")) # -2
    if age < 0:
        raise ValueError("Age cannot be negative.")
except ValueError as ve:
    print(f"Invalid input: {ve}")
else:
    print("Age entered:", age)

Enter your age: -2
Invalid input: Age cannot be negative.

In [273]:
try:
    age = int(input("Enter your age: ")) # 25
    if age < 0:
        raise ValueError("Age cannot be negative.")
except ValueError as ve:
    print(f"Invalid input: {ve}")
else:
    print("Age entered:", age)

Enter your age: 25
Age entered: 25

**2. DB connection with cleanup**

In [1]:
import mysql.connector

# Replace these with your actual database credentials
HOST = '127.0.0.1'
USERNAME = 'root'
PASSWORD = 'root'
DATABASE = 'pythontestdb'

try:
    # Establishing the connection
    conn = mysql.connector.connect(
        host=HOST,
        user=USERNAME,
        password=PASSWORD,
        database=DATABASE
    )

    # Creating a cursor to execute SQL queries
    cursor = conn.cursor()

    # SQL query to drop the "employee" table if it exists
    drop_table_query = """
    DROP TABLE IF EXISTS employee;
    """

    # Executing the query to drop the table if it exists
    cursor.execute(drop_table_query)

    # SQL query to create the "employee" table
    create_table_query = """
    CREATE TABLE employee (
        emp_id INT PRIMARY KEY,
        emp_name VARCHAR(100),
        emp_department VARCHAR(100),
        emp_salary DECIMAL(10, 2)
    );
    """

    # Executing the query to create the table
    cursor.execute(create_table_query)

    # SQL query to insert data into the "employee" table
    insert_data_query = """
    INSERT INTO employee (emp_id, emp_name, emp_department, emp_salary)
    VALUES (%s, %s, %s, %s)
    """

    # Sample data to insert into the table
    employee_data = [
        (1, 'John Doe', 'HR', 50000.00),
        (2, 'Jane Smith', 'Finance', 60000.50),
        (3, 'Michael Johnson', 'IT', 75000.75),
    ]

    # Executing the query to insert data into the table
    cursor.executemany(insert_data_query, employee_data)

    # Committing the changes to the database
    conn.commit()

    # SQL query to retrieve data from the "employee" table
    select_data_query = """
    SELECT * FROM employee;
    """

    # Executing the query to retrieve data from the table
    cursor.execute(select_data_query)

    # Fetching all the data from the table
    result = cursor.fetchall()

    # Displaying the retrieved data
    print("Employee Data:")
    for row in result:
        print(row)

except mysql.connector.Error as e:
    print("Error:", e)
    # Additional error handling logic can be added here

else:
    print("All database operations were successful.")

finally:
    # Closing the cursor and the connection
    if 'cursor' in locals() and cursor:
        cursor.close()
    if 'conn' in locals() and conn.is_connected():
        conn.close()

Employee Data:
(1, 'John Doe', 'HR', Decimal('50000.00'))
(2, 'Jane Smith', 'Finance', Decimal('60000.50'))
(3, 'Michael Johnson', 'IT', Decimal('75000.75'))
All database operations were successful.

In [2]:
import mysql.connector

# Replace these with your actual database credentials
HOST = '127.0.0.1'
USERNAME = 'root'
PASSWORD = 'root'
DATABASE = 'pythontestdb'

try:
    # Establishing the connection
    conn = mysql.connector.connect(
        host=HOST,
        user=USERNAME,
        password=PASSWORD,
        database=DATABASE
    )

    # Creating a cursor to execute SQL queries
    cursor = conn.cursor()

    # SQL query to drop the "employee" table if it exists
    drop_table_query = """
    DROP TABLE IF EXISTS employee;
    """

    # Executing the query to drop the table if it exists
    cursor.execute(drop_table_query)

    # SQL query to create the "employee" table
    create_table_query = """
    CREATE TABLE employee (
        emp_id INT PRIMARY KEY,
        emp_name VARCHAR(100),
        emp_department VARCHAR(100),
        emp_salary DECIMAL(10, 2)
    );
    """

    # Executing the query to create the table
    cursor.execute(create_table_query)

    # SQL query to insert data into the "employee" table
    insert_data_query = """
    INSERT INTO employee (emp_id, emp_name, emp_department, emp_salary)
    VALUES (%s, %s, %s, %s)
    """

    # Sample data to insert into the table
    employee_data = [
        (1, 'John Doe', 'HR', 50000.00),
        (2, 'Jane Smith', 'Finance', 60000.50),
        (3, 'Michael Johnson', 'IT', 75000.75),
    ]

    # Executing the query to insert data into the table
    cursor.executemany(insert_data_query, employee_data)

    # Trying to insert duplicate primary key (emp_id) to raise an IntegrityError
    try:
        cursor.execute(insert_data_query, (1, 'Duplicate Employee', 'Duplicate Dept', 100000.00))
    except mysql.connector.errors.IntegrityError as e:
        print("IntegrityError:", e)
        raise # re-raises exceptionpropagating it up the call stack to be handled by outer except

    # Committing the changes to the database
    conn.commit()

    # SQL query to retrieve data from the "employee" table
    select_data_query = """
    SELECT * FROM employee;
    """

    # Executing the query to retrieve data from the table
    cursor.execute(select_data_query)

    # Fetching all the data from the table
    result = cursor.fetchall()

    # Displaying the retrieved data
    print("Employee Data:")
    for row in result:
        print(row)

except mysql.connector.Error as e:
    print("Error:", e)
    # Additional error handling logic can be added here

else:
    print("All database operations were successful.")

finally:
    # Closing the cursor and the connection
    if 'cursor' in locals() and cursor:
        cursor.close()
    if 'conn' in locals() and conn.is_connected():
        conn.close()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'employee.PRIMARY'
Error: 1062 (23000): Duplicate entry '1' for key 'employee.PRIMARY'

**3. Custom Exception for Business Logic**

In [3]:
class InsufficientFundsError(Exception):
    pass

def withdraw(amount, balance):
    try:
        if amount > balance:
            raise InsufficientFundsError("Insufficient funds for withdrawal.")
    except InsufficientFundsError as e:
        print(f"Error: {e}")
        # Some additional handling logic here
        raise
    else:
        print("Withdrawal successful.")

# withdraw(10000,5000) # InsufficientFundsError: Insufficient funds for withdrawal.
withdraw(1000,5000)

Withdrawal successful.

## Modules

**NOTE:** if error please restart the kernal and try again

In [4]:
# create a file in the current directory
# mymodule.py

# def greeting(name):
#     print("Hello, " + name)

In [6]:
with open('mymodule.py', 'w+') as file1:
    file1.write('''def greetings(name):
    print("Hello, " + name)''')

In [7]:
import mymodule
mymodule.greetings("tony")

Hello, tony

In [8]:
# setting variables in module
setattr(mymodule, 'person1', {'name': 'tony', 'age':25})
mymodule.person1["age"]

25

In [9]:
import mymodule as mx # alias

a = mx.person1["age"]
print(a)

25

In [10]:
# directly import functions in the module
from mymodule import greetings
greetings('john')

Hello, john

In [11]:
# example of built-in module
import platform

x = platform.system()
print(x)

Windows

In [12]:
import os
os.remove("mymodule.py")

In [13]:
mymodule.greetings('Adarsh')

Hello, Adarsh

## Packages

**Note:** Restart kernel if error

In [14]:
# creaitng package
import os
import sys

# Define the package name and module names
package_name = 'mypackage'
module1_name = 'module1'
module2_name = 'module2'

# Create the package directory
# Check if the package directory exists, if not, create it
if not os.path.exists(package_name):
    os.makedirs(package_name)

# Add an __init__.py file to make it a Python package
package_init_file = os.path.join(package_name, '__init__.py')
if not os.path.exists(package_init_file):
    open(package_init_file, 'a').close()

# Add content to module1.py
module1_content = '''def function_in_module1():
    print("This is function_in_module1")
'''
module1_file = os.path.join(package_name, f'{module1_name}.py')
if not os.path.exists(module1_file):
    with open(module1_file, 'w') as f:
        f.write(module1_content)

# Add content to module2.py
module2_content = '''def function_in_module2():
    print("This is function_in_module2")
'''
module2_file = os.path.join(package_name, f'{module2_name}.py')
if not os.path.exists(module2_file):
    with open(module2_file, 'w') as f:
        f.write(module2_content)

# Add the package directory to the Python path
current_directory = os.getcwd()
print(current_directory)
package_path = os.path.join(current_directory, package_name)
sys.path.append(package_path)

G:\my drive\Repo

In [15]:
# Now you can import and use the modules
from mypackage import module1

module1.function_in_module1()

This is function_in_module1

In [16]:
# Now you can import and use the modules
from mypackage.module2 import function_in_module2 as m2

m2()

This is function_in_module2

In [17]:
# os.rmdir('mypackage') # OSError: [WinError 145] The directory is not empty: 'mypackage'

In [18]:
import shutil

shutil.rmtree('mypackage')